* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .container .row .col-lg-12 .navbar-expand-lg {
  width: 100%;
  background-color: transparent;
  height: auto;
  z-index: 1040;
  padding-top: 5px;
  padding-bottom: 5px;
  background: none !important;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid {
  width: 70%;
  padding: 0px;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-brand {
  padding: 0;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin: 0px;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item {
  padding: 0 px 19 px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 12px;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  color: #13c4a1 !important;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
  display: inline;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  width: 629px;
  position: absolute;
  display: none;
  top: 47px;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-left-side {
  display: inline-block !important;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-right-side {
  display: inline-block;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #4a6f8a !important;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown:hover .myStandart {
  display: none !important;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item:hover .myStandart {
  display: inline-block !important;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .nav-item .nav-link {
  color: #4a6f8a !important;
}

header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .nav-item .nav-link {
  color: #4a6f8a !important;
}

header .container .row .col-lg-12 .bg-light {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: none !important;
  width: 100%;
  margin-right: 0px;
}

header .container .row .col-lg-12 .bg-light .container-fluid {
  margin: 0px !important;
}

header .container .row .col-lg-12 .bg-light .container-fluid .me-2 {
  width: 124px !important;
}

header .container .row .col-lg-12 .bg-light .container-fluid .btn-sm {
  padding: 9px 0px;
  width: 102px !important;
}

main .sectionFirst {
  background-color: #ff612f;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 120px;
}

main .sectionFirst::before {
  content: "";
  position: absolute;
  inset: 0px;
  opacity: 0.6;
  height: 100%;
  z-index: -1;
  -webkit-animation: 15s linear 0s infinite normal none running animatedBackground;
          animation: 15s linear 0s infinite normal none running animatedBackground;
  background-image: url("../img/bg_lines.svg");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}

main .sectionFirst .firstbackground .container .row .col-lg-12 {
  color: white;
  text-align: center;
}

main .sectionFour .container {
  margin-top: 25px;
}

main .sectionFour .container .row .col-lg-4 .card {
  text-align: center;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
  height: 380px;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .sectionFour .container .row .col-lg-4 .card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192);
          box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192);
}

main .sectionFour .container .row .col-lg-4 .card .commentRight i {
  font-size: 200px !important;
  position: absolute;
  top: -9%;
  left: 41%;
  opacity: 0.3;
}

main .sectionFour .container .row .col-lg-4 .card .commentRight .iconify {
  font-size: 200px !important;
  position: absolute;
  top: -9%;
  left: 41%;
  opacity: 0.3;
}

main .sectionFour .container .row .col-lg-4 .card .commentRadius {
  width: 80px !important;
  height: 80px !important;
  border: 1px solid #b3abab !important;
  position: relative;
  border-radius: 50%;
  margin-top: 15px;
  margin: 25px 139px 0 139px;
}

main .sectionFour .container .row .col-lg-4 .card .commentRadius i {
  font-size: 45px !important;
  position: absolute;
  top: 22%;
  left: 20%;
  font-weight: 900;
}

main .sectionFour .container .row .col-lg-4 .card .commentRadius .iconify {
  font-size: 45px !important;
  position: absolute;
  top: 18%;
  left: 21%;
}

main .sectionFour .container .row .col-lg-4 .card .card-body {
  padding-top: 50px;
}

main .sectionFour .container .row .col-lg-4 .card .card-body .card-title {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #080a3c;
  text-decoration: none;
  outline: 0px !important;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

main .sectionFour .container .row .col-lg-4 .card .card-text {
  color: #4a6f8a;
  margin-bottom: 12px;
  line-height: 1.8;
  font-size: 20px;
}

main .sectionFour .container .row .col-lg-4 .card a {
  color: #13c4a1;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

main .sectionFour .container .row .col-lg-4 .card a:hover {
  letter-spacing: 1.1px;
}

main .sectionSix {
  position: relative;
}

main .sectionSix .imageYoutube {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

main .sectionSix .imageYoutube img:nth-child(1) {
  position: absolute;
  top: -410px;
  left: 267px;
  z-index: -4;
}

main .sectionSix .imageYoutube img:nth-child(2) {
  position: absolute;
  top: -426px;
  left: 795px;
  z-index: -5;
  -webkit-animation: pulsing 6s infinite;
  animation: pulsing 6s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

main .sectionSix .imageYoutube img:nth-child(3) {
  position: absolute;
  top: -65px;
  left: 245px;
  z-index: -5;
  -webkit-animation: pulsing 6s infinite;
  animation: pulsing 6s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

main .sectionSix .imageYoutube img:nth-child(4) {
  position: absolute;
  top: -142px;
  left: 719px;
  z-index: -4;
}

main .sectionSix .imageYoutube img:nth-child(5) {
  position: absolute;
  top: -153px;
  left: 712px;
  z-index: -5;
}

main .sectionSix .imageYoutube img:nth-child(6) {
  position: absolute;
  top: -410px;
  left: 275px;
}

main .sectionSix .imageYoutube img:nth-child(7) {
  position: absolute;
  top: -282px;
  left: 55px;
}

main .sectionSix .imageYoutube img:nth-child(8) {
  position: absolute;
  top: -278px;
  right: 41px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 5s infinite;
  transition: all 5s infinite;
}

main .sectionSix .imageYoutube img:nth-child(9) {
  position: absolute;
  top: -155px;
  left: 15px;
  -webkit-animation: mymove 5s infinite;
          animation: mymove 5s infinite;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

main .sectionSix .container .row .col-lg-12 {
  text-align: center;
}

main .sectionSix .container .row .col-lg-12 h1 {
  font-size: 36px;
  padding: 12px 340px 60px 340px;
  font-weight: 700;
}

main .sectionSix .container .row .col-lg-6 {
  z-index: 999999;
}

main .sectionSix .container .row .col-lg-6 a {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background-color: #ff612f;
  border-radius: 5px;
  color: #ffffff;
  font-size: 60px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

main .sectionSix .container .row .col-lg-6 a .iconify {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
  color: #ffffff;
  font-size: 50px;
}

main .sectionSix .container .row .col-lg-6 a:hover {
  background-color: #13c4a1;
}

main .sectionSix .container .row .col-lg-6 a:hover::after {
  border-color: #13c4a1 !important;
}

main .sectionSix .container .row .col-lg-6 a:hover::before {
  border-color: #13c4a1 !important;
}

main .sectionSix .container .row .col-lg-6 a::before {
  content: "";
  border: 1px solid #ff612f;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-animation: MyAnimation 1.5s linear 0.2s infinite;
          animation: MyAnimation 1.5s linear 0.2s infinite;
  z-index: -1;
}

@-webkit-keyframes MyAnimation {
  0% {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    border: 1px solid #ff612f;
  }
  25% {
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    opacity: 1;
    border: 2px solid #ff612f;
  }
  75% {
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    opacity: 1;
    border: 1.8px solid #ff612f;
  }
  100% {
    top: -30px;
    bottom: -30px;
    right: -30px;
    left: -30px;
    opacity: 0;
    border: 1.2px solid #ff612f;
  }
}

@keyframes MyAnimation {
  0% {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    border: 1px solid #ff612f;
  }
  25% {
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    opacity: 1;
    border: 2px solid #ff612f;
  }
  75% {
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    opacity: 1;
    border: 1.8px solid #ff612f;
  }
  100% {
    top: -30px;
    bottom: -30px;
    right: -30px;
    left: -30px;
    opacity: 0;
    border: 1.2px solid #ff612f;
  }
}

main .sectionSix .container .row .col-lg-6 a::after {
  content: "";
  border: 1px solid #ff612f;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-animation: SecondAnimation 1.5s linear 0.9s infinite;
          animation: SecondAnimation 1.5s linear 0.9s infinite;
  z-index: -1;
}

@-webkit-keyframes SecondAnimation {
  0% {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    border: 1px solid #ff612f;
  }
  25% {
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    opacity: 1;
    border: 2px solid #ff612f;
  }
  75% {
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    opacity: 1;
    border: 1.8px solid #ff612f;
  }
  100% {
    top: -30px;
    bottom: -30px;
    right: -30px;
    left: -30px;
    opacity: 0;
    border: 1.2px solid #ff612f;
  }
}

@keyframes SecondAnimation {
  0% {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    border: 1px solid #ff612f;
  }
  25% {
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    opacity: 1;
    border: 2px solid #ff612f;
  }
  75% {
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    opacity: 1;
    border: 1.8px solid #ff612f;
  }
  100% {
    top: -30px;
    bottom: -30px;
    right: -30px;
    left: -30px;
    opacity: 0;
    border: 1.2px solid #ff612f;
  }
}

main .sectionSix .container .row .col-lg-6 img {
  width: 100%;
  height: 100%;
}

main .sectionSeven .container .row .col-lg-12 .forbackground {
  background-image: url("../img/background-world-map-1.gif");
  background-size: cover;
  width: 100%;
  height: 100%;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container {
  padding-top: 60px;
  height: 300px;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card {
  height: 240px !important;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .chekbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 50px !important;
  width: 80px !important;
  height: 80px !important;
  border: 0px solid #b3abab !important;
  margin-top: 25px !important;
  position: relative;
  border-radius: 50%;
  background: #e9eaec;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .chekbox .iconify {
  color: #13c4a1;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 600;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter,
main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter2,
main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter3,
main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter4 {
  text-align: center !important;
  color: #ff612f;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 600;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount span {
  text-align: center !important;
  color: #ff612f;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 600;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card h5 {
  text-align: center;
  color: #4a6f8a;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .questionall {
  max-width: 750px;
  border-radius: 5px;
  border: 2px solid #ebebeb;
  padding: 20px 100px 20px 100px;
  position: relative;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .questiontext {
  width: 80%;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .questiontext h3 {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .questiontext p {
  color: #4a6f8a;
  line-height: initial;
  margin-top: 6px;
  margin-bottom: 0;
  color: #4a6f8a;
  font-size: 15px;
}

main .sectionSeven .container .row .col-lg-12 .forbackground .container .row .container-fluid {
  width: 20%;
}

main .sectionEight {
  background-color: #f8f9fa;
  height: 700px;
}

main .sectionEight .container .row .col-lg-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sectionEight .container .row .col-lg-12 h1 {
  width: 500px;
  text-align: center;
  padding: 50px 0px;
  color: #2a2c69;
  font-weight: 800;
}

main .sectionEight .container .row .col-lg-12 .headerPlan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .leftside {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  border: 1px solid;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: #080a3c;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .leftside .iconify-inline {
  margin: 9px 10px 0px 23px;
  color: #fd7e14;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .leftside p {
  margin: 4px 0px 0px 0px;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .rightside {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 6px 4px 8px 5px;
  border: 0px solid;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  color: #8d8fb4;
  cursor: pointer;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .rightside:visited .first-tab {
  display: none !important;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .rightside:visited .last-tab {
  display: block !important;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .rightside .iconify-inline {
  margin: 9px 10px 0px 23px;
  color: #fd7e14;
}

main .sectionEight .container .row .col-lg-12 .headerPlan .rightside p {
  margin: 0px;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price {
  background: white;
  margin-top: 30px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192);
          box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192);
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price h3 {
  color: #080a3c;
  text-align: center;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price .price {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-top: 8px;
  padding-bottom: 5px;
  border-top: 2px dashed #f4f5fe;
  border-bottom: 2px dashed #f4f5fe;
  font-weight: 600;
  font-size: 40px;
  padding: 25px;
  text-align: center;
  color: #080a3c;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price span:last-child {
  color: #4a6f8a;
  font-size: 15px !important;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price ul {
  list-style: none;
  line-height: 1.9;
  text-decoration: none;
  color: #4a6f8a;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price ul li {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0px;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price ul li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: right;
  position: absolute;
  right: 35px;
  text-align: right;
  color: #13c4a1;
}

main .sectionEight .container .item-tab .row .col-lg-4 .card-price .container-fluid {
  text-align: center !important;
}

main .sectionEight .container .active {
  display: block;
}

main .sectionEight .container .active1 {
  display: block;
}

main .sectionNine .container .row .col-lg-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sectionNine .container .row .col-lg-12 h1 {
  width: 500px;
  text-align: center;
  padding: 50px 0px;
}

main .sectionNine .container .row .col-lg-3:nth-child(1):hover .card {
  border: 4px solid #ff612f !important;
}

main .sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(1):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(2):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(3):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(4):hover .iconify {
  background: #ff612f;
  color: white;
}

main .sectionNine .container .row .col-lg-3:nth-child(2):hover .card {
  border: 4px solid #20c997 !important;
}

main .sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(1):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(2):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(3):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(4):hover .iconify {
  background: #20c997;
  color: white;
}

main .sectionNine .container .row .col-lg-3:nth-child(3):hover .card {
  border: 4px solid #080a3c !important;
}

main .sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(1):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(2):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(3):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(4):hover .iconify {
  background: #080a3c;
  color: white;
}

main .sectionNine .container .row .col-lg-3:nth-child(4):hover .card {
  border: 4px solid #fc4c86 !important;
}

main .sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(1):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(2):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(3):hover .iconify, main .sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(4):hover .iconify {
  background: #fc4c86;
  color: white;
}

main .sectionNine .container .row .col-lg-3 .card {
  position: relative;
  width: 100%;
  border-radius: 7px;
}

main .sectionNine .container .row .col-lg-3 .card:hover .socials {
  display: inline-block;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

main .sectionNine .container .row .col-lg-3 .card:hover .socials li {
  display: inline-block;
  background: unset;
}

main .sectionNine .container .row .col-lg-3 .card .card-img-top {
  border-radius: 20px;
  padding: 10px;
}

main .sectionNine .container .row .col-lg-3 .card .socials {
  position: absolute !important;
  z-index: 5 !important;
  background-color: unset;
  display: none;
  list-style: none;
  text-align: center;
  bottom: -8px;
  left: 14px;
  background: none;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  background: unset;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes example {
  from {
    bottom: 0px;
  }
  to {
    bottom: 30px;
  }
}

@keyframes example {
  from {
    bottom: 0px;
  }
  to {
    bottom: 30px;
  }
}

main .sectionNine .container .row .col-lg-3 .card li {
  list-style: none;
  margin: 5px;
  width: 30px;
  height: 30px;
  color: #080a3c;
  font-size: 30px !important;
}

main .sectionNine .container .row .col-lg-3 .card li:hover .fa {
  background: -webkit-gradient(linear, left top, right top, from(#e8931e), to(#e7601e));
  background: linear-gradient(to right, #e8931e, #e7601e);
  color: white !important;
}

main .sectionNine .container .row .col-lg-3 .card li .iconify {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  height: 36px;
  width: 36px;
  padding: 8px;
  background: #f4f4f7;
  font-size: 8px;
  color: #6661c4;
  border-radius: 5px;
}

main .sectionNine .container .row .col-lg-3 .card li .iconify:hover {
  background: #f4f4f7;
  color: white;
}

main .sectionNine .container .row figcaption {
  margin-top: 25px;
}

main .sectionNine .container .row figcaption .team-info {
  text-align: center;
}

main .sectionNine .container .row figcaption .team-info .title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

main .sectionNine .container .row figcaption .team-info .title a {
  font-size: 20px;
  margin-top: 6px;
  text-decoration: none;
  color: #080a3c !important;
}

main .sectionNine .container .row figcaption .team-info .subtitle {
  font-size: 15px;
}

main .sectionEleven {
  background-color: #f4f5fe;
  background-image: url("../img/white-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .sectionEleven .container .row .col-lg-6 img {
  max-width: 100%;
  height: 100%;
}

main .sectionEleven .container .row .col-lg-6 h5 {
  display: inline-block;
  background-color: #13c4a1;
  color: white;
  padding: 5px 25px;
  border-radius: 35px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

main .sectionEleven .container .row .col-lg-6 h2 {
  font-size: 30px;
}

main .sectionEleven .container .row .col-lg-6 .app {
  display: inline-block;
  background-color: white;
  padding: 12px 25px 12px 74px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  color: #666786;
  font-size: 13px;
  font-weight: 400;
}

main .sectionEleven .container .row .col-lg-6 .app .appimage img {
  position: absolute;
  left: 25px;
  top: 50%;
  max-width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .sectionEleven .container .row .col-lg-6 .app .apptext p {
  display: block;
  color: #080a3c;
  font-size: 20px;
  font-weight: 600;
}

main .sectionEleven .container .row .col-lg-6 .playmarket {
  margin-left: 15 px;
  display: inline-block;
  background-color: white;
  padding: 12px 28px 12px 70px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  color: #666786;
  font-size: 13px;
  font-weight: 400;
}

main .sectionEleven .container .row .col-lg-6 .playmarket .playmarketimage img {
  position: absolute;
  left: 25px;
  max-width: 100%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .sectionEleven .container .row .col-lg-6 .playmarket .playmarkettext p {
  display: block;
  color: #080a3c;
  font-size: 20px;
  font-weight: 600;
}

main .sectionTwelve {
  background-color: white;
  height: 740px;
}

main .sectionTwelve .container .row .col-lg-4 .ClientBanner {
  padding-top: 60px;
}

main .sectionTwelve .container .row .col-lg-4 .ClientBanner h1 {
  text-align: center;
  color: #080a3c;
}

main .sectionTwelve .container .row .col-lg-4 .ClientBanner span {
  color: #ff5f2f;
  text-align: center;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(228, 228, 233, 0.5);
          box-shadow: 5px 5px 5px 5px rgba(228, 228, 233, 0.5);
  margin: 25px;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row {
  margin-top: 80px;
  height: 254px;
  width: 100%;
  margin-left: 0;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-4 {
  margin-top: 28px;
  text-align: center;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-4 img {
  position: absolute;
  top: -41%;
  left: -7%;
  width: 100%;
  padding: 5px;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 {
  position: relative;
  margin-top: 28px;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 .star .fa-star {
  color: #ff5f2f !important;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 img {
  position: absolute;
  width: 150px;
  height: 121px;
  right: 9px;
  top: 32%;
  opacity: 0.1;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 .sentensClient h3 {
  font-size: 22px;
}

main .sectionTwelve .container .row .col-lg-12 .owl-carousel .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  margin: 0px 0px;
  background: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  border: 0px solid white;
  border: 0px solid white;
  position: relative;
}

main .sectionTwelve .container .row .col-lg-12 .formback {
  background-color: #ff612f;
  border-radius: 30px;
  padding: 50px 200px;
  position: relative;
  bottom: -20px;
}

main .sectionTwelve .container .row .col-lg-12 .formback h1 {
  text-align: center;
  padding: 0 100px;
  color: white;
  font-weight: 600;
}

main .sectionTwelve .container .row .col-lg-12 .formback .share19 {
  width: 50px;
  height: 50px;
}

main .sectionTwelve .container .row .col-lg-12 .formback .share19 img {
  position: absolute;
  right: 19px;
  bottom: 7px;
}

main .sectionTwelve .container .row .col-lg-12 .formback .share20 {
  position: absolute;
  left: 0px;
  bottom: 11px;
}

main .sectionTwelve .container .row .col-lg-12 .formback .share13 {
  position: absolute;
  left: 19px;
  top: 18px;
}

main .sectionTwelve .container .row .col-lg-12 .formback .share17 {
  position: absolute;
  right: 145px;
  top: 193px;
}

main .sectionTwelve .container .row .col-lg-12 .formback .share14 {
  position: absolute;
  right: 23px;
  top: 18px;
}

main .sectionTwelve .container .row .col-lg-12 .formback .g-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(1) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(1) .visually-hidden {
  color: white;
}

main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(1) .input-newsletter {
  margin-right: 0px;
  width: 350px !important;
  height: 50px !important;
  border: 0px solid;
  position: absolute;
  left: -45px;
  top: -29px;
  background-color: #c32f00;
  display: block;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  color: white;
  background-color: #c32f00;
  padding: 0px 0px 0px 15px;
  font-size: 14px;
  font-weight: 500;
}

main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(2) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(2) .btn-primary {
  margin-left: 0;
  width: 150px !important;
  height: 50px !important;
  position: absolute;
  right: -89px;
}

main .sectionThirteen {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100 px;
  padding-bottom: 100 px;
}

main .sectionThirteen .backgroundThirteen {
  background-color: #f4f5fe;
  height: 840px;
}

main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .section-title {
  text-align: center;
  max-width: 575 px;
  text-transform: capitalize;
  margin-left: auto;
  margin-bottom: 60 px;
  margin-right: auto;
  color: #2a2c69;
}

main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .section-title h2 {
  font-size: 40px;
  font-weight: 600;
  padding: 213px 0 103px 0;
}

main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  align-items: center !important;
  list-style: none;
}

main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192);
          box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192);
}

main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo a {
  text-align: center;
  display: block;
  background-color: white;
  padding: 30px 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #080a3c;
  text-decoration: none;
  outline: 0px !important;
  margin: 10px;
}

main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo a img {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

footer .adressesBackgroung {
  background-color: #080a3c;
  position: relative;
  z-index: 1;
  padding-top: 80px;
  color: #acc5db;
}

footer .adressesBackgroung::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: 1s linear 1s infinite normal none running imageChangeTwo;
          animation: 1s linear 1s infinite normal none running imageChangeTwo;
  background-image: url("../img/footer-shape2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .adressesBackgroung .container .row .col-lg-4 p {
  line-height: 2;
}

footer .adressesBackgroung .container .row .col-lg-2 h3 {
  color: white !important;
  margin-top: 0px !important;
}

footer .adressesBackgroung .container .row .col-lg-2 ul li {
  list-style: none;
  line-height: 2;
}

footer .adressesBackgroung .container .row .col-lg-2 h3 {
  color: white !important;
  margin-top: 0px !important;
}

footer .adressesBackgroung .container .row .col-lg-2 ul li {
  list-style: none;
  line-height: 2;
}

footer .adressesBackgroung .container .row .col-lg-4 h3 {
  color: white !important;
  margin-top: 0px !important;
}

footer .adressesBackgroung .container .row .col-lg-4 .contacts li {
  line-height: 2;
  list-style: none;
}

footer .adressesBackgroung .container .row .col-lg-4 .sosials {
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-left: 19px;
}

footer .adressesBackgroung .container .row .col-lg-4 .sosials li {
  display: inline-block;
  margin-right: 5px;
}

footer .adressesBackgroung .container .row .col-lg-4 .sosials li a {
  display: block;
  width: 30 px;
  height: 30 px;
  line-height: 33px;
  background-color: #4e6e8a;
  text-align: center;
  font-size: 17px;
  border-radius: 2 px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #080a3c;
  text-decoration: none;
  outline: 0 px !important;
}

footer .adressesBackgroung .container .row .col-lg-4 .sosials li a i {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  /* -webkit-font-smoothing: antialiased; */
  /* font-family: boxicons !important; */
  padding: 8px;
}

footer .adressesBackgroung .container .row:nth-child(2) {
  border-top: 1px solid white;
}

footer .adressesBackgroung .container .row:nth-child(2) .col-lg-12 {
  text-align: center;
}

footer .adressesBackgroung .container .row:nth-child(2) .col-lg-12 p span {
  color: #ff612f;
}
/*# sourceMappingURL=ServiceDetalis.css.map */