* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0; }

body {
  font-family: Verdana, sans-serif;
  box-sizing: border-box; }

header .container .row .col-lg-12 .navbar-expand-lg {
  width: 100%;
  background-color: transparent;
  height: auto;
  z-index: 1040;
  padding-top: 5px;
  padding-bottom: 5px;
  background: none !important; }
  header .container .row .col-lg-12 .navbar-expand-lg .container-fluid {
    width: 70%;
    padding: 0px; }
    header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse {
      justify-content: center;
      font-size: 20px;
      margin: 0px; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item {
        padding: 0 px 19 px;
        display: flex;
        margin: 0 12px; }
        header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
          color: #13c4a1 !important; }
        header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
          display: inline; }
        header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
          width: 629px;
          position: absolute;
          display: none;
          top: 47px; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-left-side {
            display: inline-block !important; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-right-side {
            display: inline-block; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #4a6f8a !important; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown:hover .myStandart {
        display: none !important; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item:hover .myStandart {
        display: inline-block !important; }
    header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .nav-item .nav-link {
      color: #4a6f8a !important; }
    header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .nav-item .nav-link {
      color: #4a6f8a !important; }
header .container .row .col-lg-12 .bg-light {
  justify-content: flex-end;
  background: none !important;
  width: 100%;
  margin-right: 0px; }
  header .container .row .col-lg-12 .bg-light .container-fluid {
    margin: 0px !important; }
    header .container .row .col-lg-12 .bg-light .container-fluid .me-2 {
      width: 124px !important; }
    header .container .row .col-lg-12 .bg-light .container-fluid .btn-sm {
      padding: 9px 0px;
      width: 102px !important; }

.sectionFirst {
  background-color: #ff612f;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 120px; }
  .sectionFirst::before {
    content: "";
    position: absolute;
    inset: 0px;
    opacity: 0.6;
    height: 100%;
    z-index: -1;
    animation: 15s linear 0s infinite normal none running animatedBackground;
    background-image: url("../img/bg_lines.svg");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover; }
  .sectionFirst .firstbackground .container .row .col-lg-12 {
    color: white;
    text-align: center; }

.sectionSecond .container .row .col-lg-6 .textForsecond {
  padding-top: 53px; }
  .sectionSecond .container .row .col-lg-6 .textForsecond h4 {
    display: block;
    color: #ff612f;
    margin-bottom: 7px; }
  .sectionSecond .container .row .col-lg-6 .textForsecond h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500; }
  .sectionSecond .container .row .col-lg-6 .textForsecond p {
    color: #4a6f8a;
    margin-bottom: 12px;
    line-height: 1.8;
    font-size: 15px; }
.sectionSecond .container .col-lg-6 {
  padding-bottom: 100px; }
  .sectionSecond .container .col-lg-6 img {
    width: 100%;
    height: 100%; }

.sectionThird {
  padding: 50px 0;
  background-color: #f8f9fa; }
  .sectionThird .container .row .col-lg-9 .slider {
    height: 50px;
    margin: auto;
    margin-top: 16px;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden; }
    .sectionThird .container .row .col-lg-9 .slider::before, .sectionThird .container .row .col-lg-9 .slider::after {
      background: linear-gradient(to right, white 0% rgba(255, 255, 255, 0) 100%);
      content: '';
      height: 100%;
      position: absolute;
      width: 15%;
      z-index: 2; }
    .sectionThird .container .row .col-lg-9 .slider::after {
      right: 0;
      top: 0; }
    .sectionThird .container .row .col-lg-9 .slider::before {
      right: 0;
      top: 0; }
    .sectionThird .container .row .col-lg-9 .slider .slide-track {
      display: flex;
      width: calc(150px * 18);
      animation: scroll 40s linear infinite; }
      .sectionThird .container .row .col-lg-9 .slider .slide-track:hover {
        animation-play-state: paused; }
      .sectionThird .container .row .col-lg-9 .slider .slide-track .slide {
        height: 50px;
        width: 250px;
        display: flex;
        align-items: center;
        padding: 15px;
        perspective: 100px; }
        .sectionThird .container .row .col-lg-9 .slider .slide-track .slide img {
          width: 100%;
          transition: trasform 1s; }
          .sectionThird .container .row .col-lg-9 .slider .slide-track .slide img:hover {
            transform: translateZ(20px); }
@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 9)); } }
.sectionSix {
  position: relative; }
  .sectionSix .imageYoutube {
    transform: translateY(-40%); }
    .sectionSix .imageYoutube img:nth-child(1) {
      position: absolute;
      top: -410px;
      left: 267px;
      z-index: -4; }
    .sectionSix .imageYoutube img:nth-child(2) {
      position: absolute;
      top: -426px;
      left: 795px;
      z-index: -5;
      -webkit-animation: pulsing 6s infinite;
      animation: pulsing 6s infinite; }
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
    .sectionSix .imageYoutube img:nth-child(3) {
      position: absolute;
      top: -65px;
      left: 245px;
      z-index: -5;
      -webkit-animation: pulsing 6s infinite;
      animation: pulsing 6s infinite; }
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
    .sectionSix .imageYoutube img:nth-child(4) {
      position: absolute;
      top: -142px;
      left: 719px;
      z-index: -4; }
    .sectionSix .imageYoutube img:nth-child(5) {
      position: absolute;
      top: -153px;
      left: 712px;
      z-index: -5; }
    .sectionSix .imageYoutube img:nth-child(6) {
      position: absolute;
      top: -410px;
      left: 275px; }
    .sectionSix .imageYoutube img:nth-child(7) {
      position: absolute;
      top: -282px;
      left: 55px; }
    .sectionSix .imageYoutube img:nth-child(8) {
      position: absolute;
      top: -278px;
      right: 41px;
      transform: rotate(360deg);
      transition: all 5s infinite; }
    .sectionSix .imageYoutube img:nth-child(9) {
      position: absolute;
      top: -155px;
      left: 15px;
      animation: mymove 5s infinite;
      transform: rotate(360deg); }
  .sectionSix .container .row .col-lg-6 {
    z-index: 999999; }
    .sectionSix .container .row .col-lg-6 .iconify {
      position: absolute;
      top: 44%;
      left: 48%;
      font-size: 71px;
      color: #f30b0b; }
    .sectionSix .container .row .col-lg-6 img {
      width: 100%;
      height: 100%; }

.sectionSeven .container .row .col-lg-12 .forbackground {
  background-image: url("../img/background-world-map-1.gif");
  background-size: cover;
  width: 100%;
  height: 100%; }
  .sectionSeven .container .row .col-lg-12 .forbackground .container {
    padding-top: 60px;
    height: 300px; }
    .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card {
      height: 240px !important; }
      .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .chekbox {
        display: flex;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 50px !important;
        width: 80px !important;
        height: 80px !important;
        border: 0px solid #b3abab !important;
        margin-top: 25px !important;
        position: relative;
        border-radius: 50%;
        background: #e9eaec; }
        .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .chekbox .iconify {
          color: #13c4a1;
          margin-bottom: 0px;
          font-size: 30px;
          font-weight: 600; }
      .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter,
      .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter2,
      .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter3,
      .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount .counter4 {
        text-align: center !important;
        color: #ff612f;
        margin-bottom: 0px;
        font-size: 30px;
        font-weight: 600; }
      .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card .boxcount span {
        text-align: center !important;
        color: #ff612f;
        margin-bottom: 0px;
        font-size: 30px;
        font-weight: 600; }
      .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-3 .card h5 {
        text-align: center;
        color: #4a6f8a; }
  .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-12 .questionall {
    max-width: 750px;
    border-radius: 5px;
    border: 2px solid #ebebeb;
    padding: 20px 100px 20px 100px;
    position: relative;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center; }
  .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-12 .questiontext {
    width: 80%; }
    .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-12 .questiontext h3 {
      margin-bottom: 0;
      font-size: 22px;
      font-weight: 600; }
    .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-12 .questiontext p {
      color: #4a6f8a;
      line-height: initial;
      margin-top: 6px;
      margin-bottom: 0;
      color: #4a6f8a;
      font-size: 15px; }
  .sectionSeven .container .row .col-lg-12 .forbackground .container .row .col-lg-12 .container-fluid {
    width: 20%; }

.sectionNine .container .row .col-lg-12 h1 {
  width: 500px; }
.sectionNine .container .row .col-lg-3:nth-child(1):hover .card {
  border: 4px solid #ff612f !important; }
.sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(1):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(2):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(3):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(1) .socials li:nth-child(4):hover .iconify {
  background: #ff612f;
  color: white; }
.sectionNine .container .row .col-lg-3:nth-child(2):hover .card {
  border: 4px solid #20c997 !important; }
.sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(1):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(2):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(3):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(2) .socials li:nth-child(4):hover .iconify {
  background: #20c997;
  color: white; }
.sectionNine .container .row .col-lg-3:nth-child(3):hover .card {
  border: 4px solid #080a3c !important; }
.sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(1):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(2):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(3):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(3) .socials li:nth-child(4):hover .iconify {
  background: #080a3c;
  color: white; }
.sectionNine .container .row .col-lg-3:nth-child(4):hover .card {
  border: 4px solid #fc4c86 !important; }
.sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(1):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(2):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(3):hover .iconify, .sectionNine .container .row .col-lg-3:nth-child(4) .socials li:nth-child(4):hover .iconify {
  background: #fc4c86;
  color: white; }
.sectionNine .container .row .col-lg-3 .card {
  position: relative;
  width: 100%;
  border-radius: 7px; }
  .sectionNine .container .row .col-lg-3 .card:hover .socials {
    display: inline-block;
    transform: translateY(-20px); }
  .sectionNine .container .row .col-lg-3 .card:hover .socials li {
    display: inline-block;
    background: unset; }
  .sectionNine .container .row .col-lg-3 .card .card-img-top {
    border-radius: 20px;
    padding: 10px; }
  .sectionNine .container .row .col-lg-3 .card .socials {
    position: absolute !important;
    z-index: 5 !important;
    background-color: unset;
    display: none;
    list-style: none;
    text-align: center;
    bottom: -8px;
    left: 14px;
    background: none;
    transition: transform 300ms ease-in-out;
    background: unset;
    animation-name: example;
    animation-duration: 0.5s; }
@keyframes example {
  from {
    bottom: 0px; }
  to {
    bottom: 30px; } }
  .sectionNine .container .row .col-lg-3 .card li {
    list-style: none;
    margin: 5px;
    width: 30px;
    height: 30px;
    color: #080a3c;
    font-size: 30px !important; }
    .sectionNine .container .row .col-lg-3 .card li:hover .fa {
      background: linear-gradient(to right, #e8931e, #e7601e);
      color: white !important; }
    .sectionNine .container .row .col-lg-3 .card li .iconify {
      font-family: "Font Awesome 5 Brands";
      font-weight: 400;
      height: 36px;
      width: 36px;
      padding: 8px;
      background: #f4f4f7;
      font-size: 8px;
      color: #6661c4;
      border-radius: 5px; }
      .sectionNine .container .row .col-lg-3 .card li .iconify:hover {
        background: #f4f4f7;
        color: white; }
.sectionNine .container .row figcaption {
  margin-top: 25px; }
  .sectionNine .container .row figcaption .team-info {
    text-align: center; }
    .sectionNine .container .row figcaption .team-info .title {
      font-size: 20px;
      font-weight: 500;
      text-align: center; }
      .sectionNine .container .row figcaption .team-info .title a {
        font-size: 20px;
        margin-top: 6px;
        text-decoration: none;
        color: #080a3c !important; }
    .sectionNine .container .row figcaption .team-info .subtitle {
      font-size: 15px; }

.sectionEleven {
  background-color: #f4f5fe;
  background-image: url("../img/white-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .sectionEleven .container .row .col-lg-6 img {
    max-width: 100%;
    height: 100%; }
  .sectionEleven .container .row .col-lg-6 h5 {
    display: inline-block;
    background-color: #13c4a1;
    color: white;
    padding: 5px 25px;
    border-radius: 35px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400; }
  .sectionEleven .container .row .col-lg-6 h2 {
    font-size: 30px; }
  .sectionEleven .container .row .col-lg-6 .app {
    display: inline-block;
    background-color: white;
    padding: 12px 25px 12px 74px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    color: #666786;
    font-size: 13px;
    font-weight: 400; }
    .sectionEleven .container .row .col-lg-6 .app .appimage img {
      position: absolute;
      left: 25px;
      top: 50%;
      max-width: 100%;
      height: auto;
      transform: translateY(-50%); }
    .sectionEleven .container .row .col-lg-6 .app .apptext p {
      display: block;
      color: #080a3c;
      font-size: 20px;
      font-weight: 600; }
  .sectionEleven .container .row .col-lg-6 .playmarket {
    margin-left: 15 px;
    display: inline-block;
    background-color: white;
    padding: 12px 28px 12px 70px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    color: #666786;
    font-size: 13px;
    font-weight: 400; }
    .sectionEleven .container .row .col-lg-6 .playmarket .playmarketimage img {
      position: absolute;
      left: 25px;
      max-width: 100%;
      height: auto;
      top: 50%;
      transform: translateY(-50%); }
    .sectionEleven .container .row .col-lg-6 .playmarket .playmarkettext p {
      display: block;
      color: #080a3c;
      font-size: 20px;
      font-weight: 600; }

.sectionTwelve {
  background-color: white;
  height: 600px; }
  .sectionTwelve .container .row .col-lg-4 .ClientBanner {
    padding-top: 60px; }
    .sectionTwelve .container .row .col-lg-4 .ClientBanner h1 {
      text-align: center;
      color: #080a3c; }
    .sectionTwelve .container .row .col-lg-4 .ClientBanner span {
      color: #ff5f2f;
      text-align: center; }
  .sectionTwelve .container .row .col-lg-12 .owl-carousel .item {
    box-shadow: 5px 5px 5px 5px rgba(228, 228, 233, 0.5);
    margin: 25px; }
    .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row {
      margin-top: 80px;
      height: 254px;
      width: 100%;
      margin-left: 0; }
      .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-4 {
        margin-top: 28px;
        text-align: center; }
        .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-4 img {
          position: absolute;
          top: -41%;
          left: -7%;
          width: 100%;
          padding: 5px; }
      .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 {
        position: relative;
        margin-top: 28px; }
        .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 .star .fa-star {
          color: #ff5f2f !important; }
        .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 img {
          position: absolute;
          width: 150px;
          height: 121px;
          right: 9px;
          top: 32%;
          opacity: 0.1; }
        .sectionTwelve .container .row .col-lg-12 .owl-carousel .item .row .col-lg-8 .sentensClient h3 {
          font-size: 22px; }
  .sectionTwelve .container .row .col-lg-12 .owl-carousel .owl-dots .owl-dot {
    width: 14px;
    height: 14px;
    margin: 0px 0px;
    background: none;
    transition: all 0.5s ease 0s;
    border-radius: 50%;
    border: 0px solid white;
    border: 0px solid white;
    position: relative; }

.active .panel {
  border-top: 4px solid #ff612f; }
.active::after {
  color: #9b6352;
  font-weight: 900;
  background-color: #ccc;
  font: 20px Helvetica; }
.active .accordion:hover {
  background-color: #ccc; }

.sectionThirteen {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f5fe; }
  .sectionThirteen .backgroundThirteen .container .row .col-lg-12 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
    text-align: center; }
    .sectionThirteen .backgroundThirteen .container .row .col-lg-12 h1 {
      padding: 100px 270px 20px 270px;
      font-size: 40px;
      line-height: 1.5; }
    .sectionThirteen .backgroundThirteen .container .row .col-lg-12 p {
      color: #4a6f8a;
      margin: 0px 2px 58px;
      line-height: 1.8;
      font-size: 15px; }
    .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .container-fluid {
      padding-bottom: 80px; }
    .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .shares .share1 {
      position: absolute;
      top: 10px;
      left: 10px; }
    .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .shares .share2 {
      position: absolute;
      bottom: 70px;
      left: 300px; }
    .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .shares .share3 {
      position: absolute;
      bottom: 75px;
      right: 300px; }
    .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .shares .share4 {
      position: absolute;
      top: 10px;
      right: 10px; }

footer .adressesBackgroung {
  background-color: #080a3c;
  position: relative;
  z-index: 1;
  padding-top: 80px;
  color: #acc5db; }
  footer .adressesBackgroung::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: 1s linear 1s infinite normal none running imageChangeTwo;
    background-image: url("../img/footer-shape2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  footer .adressesBackgroung .container .row .col-lg-4 p {
    line-height: 2; }
  footer .adressesBackgroung .container .row .col-lg-2 h3 {
    color: white !important;
    margin-top: 0px !important; }
  footer .adressesBackgroung .container .row .col-lg-2 ul li {
    list-style: none;
    line-height: 2; }
  footer .adressesBackgroung .container .row .col-lg-2 h3 {
    color: white !important;
    margin-top: 0px !important; }
  footer .adressesBackgroung .container .row .col-lg-2 ul li {
    list-style: none;
    line-height: 2; }
  footer .adressesBackgroung .container .row .col-lg-4 h3 {
    color: white !important;
    margin-top: 0px !important; }
  footer .adressesBackgroung .container .row .col-lg-4 .contacts li {
    line-height: 2;
    list-style: none; }
  footer .adressesBackgroung .container .row .col-lg-4 .sosials {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-left: 19px; }
    footer .adressesBackgroung .container .row .col-lg-4 .sosials li {
      display: inline-block;
      margin-right: 5px; }
      footer .adressesBackgroung .container .row .col-lg-4 .sosials li a {
        display: block;
        width: 30 px;
        height: 30 px;
        line-height: 33px;
        background-color: #4e6e8a;
        text-align: center;
        font-size: 17px;
        border-radius: 2 px;
        transition: all 0.5s ease 0s;
        color: #080a3c;
        text-decoration: none;
        outline: 0 px !important; }
        footer .adressesBackgroung .container .row .col-lg-4 .sosials li a i {
          font-weight: normal;
          font-style: normal;
          font-variant: normal;
          line-height: 1;
          display: inline-block;
          text-transform: none;
          /* -webkit-font-smoothing: antialiased; */
          /* font-family: boxicons !important; */
          padding: 8px; }
  footer .adressesBackgroung .container .row:nth-child(2) {
    border-top: 1px solid white; }
    footer .adressesBackgroung .container .row:nth-child(2) .col-lg-12 {
      text-align: center; }
      footer .adressesBackgroung .container .row:nth-child(2) .col-lg-12 p span {
        color: #ff612f; }

/*# sourceMappingURL=About.css.map */
