* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    .container {
        .row {
            .col-lg-12 {
                background-color: white;
                .navbar-expand-lg {
                    background-color: transparent;
                    height: auto;
                    z-index: 1040;
                    left: 0;
                    width: 100%;
                    top: 0;
                    transition: all 0.3s linear;
                    &.active {
                        position: fixed;
                        // animation: nav 0.1s linear;
                        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.25%);
                        background-color: white !important;
                        display: flex;
                    }
                    &.active {
                        .navbar-brand {
                            margin-left: 75px;
                        }
                    }
                    &.active {
                        .me-2 {
                            &:hover {
                                background-color: #080a3c;
                                color: white !important;
                            }
                        }
                        .btn-sm {
                            &:hover {
                                background-color: #080a3c;
                                color: white !important;
                            }
                        }
                    }
                    .container-fluid {
                        width: 70%;
                        padding: 0px;
                        .navbar-brand {
                            padding: 0;
                            img {}
                        }
                        .navbar-toggler {
                            span {}
                        }
                        .navbar-collapse {
                            justify-content: center;
                            font-size: 20px;
                            margin: 0px;
                            .navbar-nav {
                                height: 80px !important;
                                vertical-align: middle;
                                display: flex;
                                align-content: center;
                                align-items: center;
                                .nav-item {
                                    padding: 0px;
                                    display: flex;
                                    margin: 0 12px;
                                    &:hover .nav-link {
                                        color: #13c4a1 !important;
                                    }
                                    &:hover .dropdown-menu {
                                        display: inline;
                                    }
                                    .nav-link {
                                        text-decoration: none;
                                    }
                                    .dropdown-menu {
                                        border-top: 2px solid #13c4a1;
                                        border-top-left-radius: 7px;
                                        border-top-right-radius: 7px;
                                        width: 663px;
                                        position: absolute;
                                        display: none;
                                        top: 47px;
                                        .nav-item-left-side {
                                            display: inline-block !important;
                                            h3 {
                                                text-align: center;
                                            }
                                            .dropdown-item {
                                                color: #4a6f8a;
                                                line-height: 1.9;
                                                &::before {
                                                    content: '';
                                                    position: absolute;
                                                    right: 0;
                                                    width: 260px;
                                                    height: 0.5px;
                                                    border: 1px dashed #e2e6e5;
                                                }
                                                &:hover {
                                                    color: #13c4a1 !important;
                                                }
                                            }
                                        }
                                        .nav-item-right-side {
                                            display: inline-block;
                                            h3 {
                                                text-align: center;
                                            }
                                            .dropdown-item {
                                                line-height: 1.9;
                                                color: #4a6f8a;
                                                &::before {
                                                    content: '';
                                                    position: absolute;
                                                    left: 0;
                                                    width: 260px;
                                                    height: 0.5px;
                                                    border: 1px dashed #e2e6e5;
                                                }
                                                &:hover {
                                                    color: #13c4a1 !important;
                                                }
                                            }
                                        }
                                    }
                                }
                                .nav-item {
                                    .nav-link {
                                        color: #4a6f8a !important;
                                    }
                                }
                                .dropdown {
                                    &:hover .myStandart {
                                        display: none !important;
                                    }
                                    .dropdown-toggle {}
                                    .dropdown-menu {
                                        .nav-item {
                                            .standart {}
                                            .myStandart {
                                                .nav-item {
                                                    .dropdown-item {
                                                        color: #4a6f8a;
                                                        line-height: 1.9;
                                                        &::before {
                                                            content: '';
                                                            position: absolute;
                                                            left: 0;
                                                            width: 220px;
                                                            height: 0.5px;
                                                            border: 1px dashed #e2e6e5;
                                                        }
                                                        &:hover {
                                                            color: #13c4a1 !important;
                                                        }
                                                    }
                                                }
                                            }
                                            &:hover .myStandart {
                                                display: inline-block !important;
                                            }
                                        }
                                        .nav-item {
                                            .dropdown-item {
                                                color: #4a6f8a;
                                                line-height: 1.9;
                                                &::before {
                                                    content: '';
                                                    position: absolute;
                                                    left: 0;
                                                    width: 220px;
                                                    height: 0.5px;
                                                    border: 1px dashed #e2e6e5;
                                                }
                                                &:hover {
                                                    color: #13c4a1 !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .nav-item {
                            .nav-link {
                                color: #4a6f8a !important;
                            }
                            .dropdown-menu {
                                .nav-item {
                                    .nav-link {}
                                }
                            }
                        }
                        .nav-item {
                            .nav-link {
                                color: #4a6f8a !important;
                            }
                        }
                    }
                }
                .bg-light {
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    background: none !important;
                    width: 100%;
                    margin-right: 0 px !important;
                    margin-bottom: 0 px !important;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    .container-fluid {
                        margin: 0px !important;
                        .me-2 {
                            position: relative;
                            overflow: hidden;
                            color: white;
                            background-color: #13c4a1;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                            border: 1px solid #13c4a1;
                            width: 145px !important;
                            height: 40px !important;
                            &:hover {
                                background-color: #080a3c;
                            }
                            i {}
                            span {}
                        }
                        .btn-sm {
                            position: relative;
                            overflow: hidden;
                            color: #080a3c;
                            background-color: transparent;
                            margin-left: 8px;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                            border: 1px solid #080a3c;
                            width: 109px !important;
                            height: 40px !important;
                            i {
                                color: rgb(255, 97, 47);
                            }
                            &:hover {
                                background-color: #080a3c;
                                color: white;
                            }
                            &:hover i {
                                color: white;
                            }
                            span {}
                        }
                    }
                }
            }
        }
    }
}

.sectionFirst {
    background-color: rgb(255, 97, 47);
    position: relative;
    z-index: 1;
    padding-top: 130px;
    padding-bottom: 120px;
    &::before {
        content: "";
        position: absolute;
        inset: 0px;
        opacity: 0.6;
        height: 100%;
        z-index: -1;
        animation: 15s linear 0s infinite normal none running animatedBackground;
        background-image: url("../img/bg_lines.svg");
        background-repeat: repeat;
        background-position: center center;
        background-size: cover;
    }
    .firstbackground {
        .container {
            .row {
                .col-lg-12 {
                    color: white;
                    text-align: center;
                    .bannerText {
                        // padding: 150px 0;
                        h1 {}
                        p {}
                    }
                }
            }
        }
    }
}

.sectionSecond {
    .container {
        .row {
            .col-lg-6 {
                .textForsecond {
                    padding-top: 53px;
                    h4 {
                        display: block;
                        color: #ff612f;
                        margin-bottom: 7px;
                    }
                    h1 {
                        margin-bottom: 10px;
                        font-size: 40px;
                        font-weight: 500;
                    }
                    p {
                        color: #4a6f8a;
                        margin-bottom: 12px;
                        line-height: 1.8;
                        font-size: 15px;
                    }
                }
            }
        }
        .col-lg-6 {
            img {
                width: 100%;
                height: 100%;
            }
            padding-bottom: 100px;
        }
    }
}

.sectionThird {
    padding: 50px 0;
    background-color: #f8f9fa;
    .container {
        .row {
            .col-lg-3 {
                h1 {}
            }
            .col-lg-9 {
                .slider {
                    height: 50px;
                    margin: auto;
                    margin-top: 16px;
                    position: relative;
                    width: 90%;
                    display: grid;
                    place-items: center;
                    overflow: hidden;
                    &::before,
                    &::after {
                        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%rgba(255, 255, 255, 0)100%);
                        content: '';
                        height: 100%;
                        position: absolute;
                        width: 15%;
                        z-index: 2;
                    }
                    &::after {
                        right: 0;
                        top: 0;
                    }
                    &::before {
                        right: 0;
                        top: 0;
                    }
                    .slide-track {
                        display: flex;
                        width: calc(150px * 18);
                        animation: scroll 40s linear infinite;
                        &:hover {
                            animation-play-state: paused;
                        }
                        .slide {
                            height: 50px;
                            width: 250px;
                            display: flex;
                            align-items: center;
                            padding: 15px;
                            perspective: 100px;
                            img {
                                width: 100%;
                                transition: trasform 1s;
                                &:hover {
                                    transform: translateZ(20px);
                                }
                            }
                        }
                    }
                    @keyframes scroll {
                        0% {
                            transform: translateX(0);
                        }
                        100% {
                            transform: translateX(calc(-250px * 9));
                        }
                    }
                }
            }
        }
    }
}

.sectionSix {
    position: relative;
    .imageYoutube {
        transform: translateY(-40%);
        img:nth-child(1) {
            position: absolute;
            top: -410px;
            left: 267px;
            z-index: -4;
        }
        img:nth-child(2) {
            position: absolute;
            top: -426px;
            left: 795px;
            z-index: -5;
            -webkit-animation: pulsing 6s infinite;
            animation: pulsing 6s infinite;
            @-webkit-keyframes pulsing {
                0% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5)
                }
                50% {
                    -webkit-transform: scale(1.0, 1.0);
                    transform: scale(1.0, 1.0);
                }
                100% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5);
                }
            }
            @keyframes pulsing {
                0% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5)
                }
                50% {
                    -webkit-transform: scale(1.0, 1.0);
                    transform: scale(1.0, 1.0);
                }
                100% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5);
                }
            }
        }
        img:nth-child(3) {
            position: absolute;
            top: -65px;
            left: 245px;
            z-index: -5;
            -webkit-animation: pulsing 6s infinite;
            animation: pulsing 6s infinite;
            @-webkit-keyframes pulsing {
                0% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5)
                }
                50% {
                    -webkit-transform: scale(1.0, 1.0);
                    transform: scale(1.0, 1.0);
                }
                100% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5);
                }
            }
            @keyframes pulsing {
                0% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5)
                }
                50% {
                    -webkit-transform: scale(1.0, 1.0);
                    transform: scale(1.0, 1.0);
                }
                100% {
                    -webkit-transform: scale(0.5, 0.5);
                    transform: scale(0.5, 0.5);
                }
            }
        }
        img:nth-child(4) {
            position: absolute;
            top: -142px;
            left: 719px;
            z-index: -4;
        }
        img:nth-child(5) {
            position: absolute;
            top: -153px;
            left: 712px;
            z-index: -5;
        }
        img:nth-child(6) {
            position: absolute;
            top: -410px;
            left: 275px;
        }
        img:nth-child(7) {
            position: absolute;
            top: -282px;
            left: 55px;
        }
        img:nth-child(8) {
            position: absolute;
            top: -278px;
            right: 41px;
            transform: rotate( 360deg);
            transition: all 5s infinite;
        }
        img:nth-child(9) {
            position: absolute;
            top: -155px;
            left: 15px;
            animation: mymove 5s infinite;
            transform: rotate( 360deg);
        }
    }
    .container {
        .row {
            .col-lg-6 {
                z-index: 999999;
                a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: inline-block;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 80px;
                    height: 80px;
                    background-color: #ff612f;
                    border-radius: 5px;
                    color: #ffffff;
                    font-size: 60px;
                    z-index: 1;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: pointer;
                    .iconify {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        z-index: 2;
                        transform: translateY(-50%);
                        margin-left: auto;
                        margin-right: auto;
                        line-height: 1;
                        color: #ffffff;
                        font-size: 50px;
                    }
                    &:hover {
                        background-color: #13c4a1;
                        &::after {
                            border-color: #13c4a1 !important;
                        }
                        &::before {
                            border-color: #13c4a1 !important;
                        }
                    }
                    &::before {
                        content: "";
                        border: 1px solid #ff612f;
                        border-radius: 5px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        animation: MyAnimation 1.5s linear 0.2s infinite;
                        z-index: -1;
                        @keyframes MyAnimation {
                            0% {
                                top: 0;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                opacity: 1;
                                border: 1px solid #ff612f;
                            }
                            25% {
                                top: -10px;
                                bottom: -10px;
                                right: -10px;
                                left: -10px;
                                opacity: 1;
                                border: 2px solid #ff612f;
                            }
                            75% {
                                top: -20px;
                                bottom: -20px;
                                right: -20px;
                                left: -20px;
                                opacity: 1;
                                border: 1.8px solid #ff612f;
                            }
                            100% {
                                top: -30px;
                                bottom: -30px;
                                right: -30px;
                                left: -30px;
                                opacity: 0;
                                border: 1.2px solid #ff612f;
                            }
                        }
                    }
                    &::after {
                        content: "";
                        border: 1px solid #ff612f;
                        border-radius: 5px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        animation: SecondAnimation 1.5s linear 0.9s infinite;
                        z-index: -1;
                        @keyframes SecondAnimation {
                            0% {
                                top: 0;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                opacity: 1;
                                border: 1px solid #ff612f;
                            }
                            25% {
                                top: -10px;
                                bottom: -10px;
                                right: -10px;
                                left: -10px;
                                opacity: 1;
                                border: 2px solid #ff612f;
                            }
                            75% {
                                top: -20px;
                                bottom: -20px;
                                right: -20px;
                                left: -20px;
                                opacity: 1;
                                border: 1.8px solid #ff612f;
                            }
                            100% {
                                top: -30px;
                                bottom: -30px;
                                right: -30px;
                                left: -30px;
                                opacity: 0;
                                border: 1.2px solid #ff612f;
                            }
                        }
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.sectionSeven {
    .container {
        .row {
            .col-lg-12 {
                .forbackground {
                    background-image: url("../img/background-world-map-1.gif");
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    .container {
                        padding-top: 60px;
                        height: 300px;
                        .row {
                            .col-lg-3 {
                                .card {
                                    height: 240px !important;
                                    .chekbox {
                                        display: flex;
                                        justify-content: center;
                                        align-content: space-around;
                                        align-items: center;
                                        flex-wrap: nowrap;
                                        flex-direction: row;
                                        font-size: 50px !important;
                                        width: 80px !important;
                                        height: 80px !important;
                                        border: 0px solid #b3abab !important;
                                        margin-top: 25px !important;
                                        position: relative;
                                        border-radius: 50%;
                                        background: rgb(233, 234, 236);
                                        .iconify {
                                            color: rgb(19, 196, 161);
                                            margin-bottom: 0px;
                                            font-size: 30px;
                                            font-weight: 600;
                                        }
                                    }
                                    .boxcount {
                                        .counter,
                                        .counter2,
                                        .counter3,
                                        .counter4 {
                                            text-align: center !important;
                                            color: rgb(255, 97, 47);
                                            margin-bottom: 0px;
                                            font-size: 30px;
                                            font-weight: 600;
                                        }
                                        span {
                                            text-align: center !important;
                                            color: rgb(255, 97, 47);
                                            margin-bottom: 0px;
                                            font-size: 30px;
                                            font-weight: 600;
                                        }
                                    }
                                    h5 {
                                        text-align: center;
                                        color: rgb(74, 111, 138);
                                    }
                                }
                            }
                        }
                    }
                    .container {
                        .row {
                            .col-lg-12 {
                                .questionall {
                                    max-width: 750px;
                                    border-radius: 5px;
                                    border: 2px solid #ebebeb;
                                    padding: 20px 100px 20px 100px;
                                    position: relative;
                                    margin-left: auto;
                                    margin-top: 40px;
                                    margin-right: auto;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    align-content: center;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .questiontext {
                                    width: 80%;
                                    h3 {
                                        margin-bottom: 0;
                                        font-size: 22px;
                                        font-weight: 600;
                                    }
                                    p {
                                        // padding-left: 50px;
                                        color: rgb(74, 111, 138);
                                        line-height: initial;
                                        margin-top: 6px;
                                        margin-bottom: 0;
                                        color: #4a6f8a;
                                        font-size: 15px;
                                    }
                                }
                                .container-fluid {
                                    width: 20%;
                                    .me-2 {
                                        position: relative;
                                        overflow: hidden;
                                        color: white;
                                        background-color: #13c4a1;
                                        -webkit-transition: all 0.5s;
                                        transition: all 0.5s;
                                        border: 1px solid #13c4a1;
                                        width: 145px !important;
                                        height: 40px !important;
                                        &:hover {
                                            background-color: #080a3c;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sectionNine {
    .container {
        .row {
            .col-lg-12 {
                h1 {
                    width: 500px;
                }
            }
        }
        .row {
            .col-lg-3 {
                &:nth-child(1) {
                    &:hover .card {
                        border: 4px solid rgb(255, 97, 47)!important;
                    }
                    .socials {
                        li {
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                &:hover .iconify {
                                    background: rgb(255, 97, 47);
                                    color: white;
                                }
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    &:hover .card {
                        border: 4px solid #20c997 !important;
                    }
                    .socials {
                        li {
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                &:hover .iconify {
                                    background: #20c997;
                                    color: white;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    &:hover .card {
                        border: 4px solid rgb(8, 10, 60)!important;
                    }
                    .socials {
                        li {
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                &:hover .iconify {
                                    background: rgb(8, 10, 60);
                                    color: white;
                                }
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    &:hover .card {
                        border: 4px solid rgb(252, 76, 134)!important;
                    }
                    .socials {
                        li {
                            &:nth-child(1),
                            &:nth-child(2),
                            &:nth-child(3),
                            &:nth-child(4) {
                                &:hover .iconify {
                                    background: rgb(252, 76, 134);
                                    color: white;
                                }
                            }
                        }
                    }
                }
                .card {
                    position: relative;
                    width: 100%;
                    border-radius: 7px;
                    &:hover .socials {
                        display: inline-block;
                        transform: translateY(-20px);
                    }
                    &:hover .socials li {
                        display: inline-block;
                        background: unset;
                    }
                    .CycleMain {}
                    .card-img-top {
                        border-radius: 20px;
                        padding: 10px;
                    }
                    .link {
                        img {}
                    }
                    .socials {
                        position: absolute !important;
                        z-index: 5 !important;
                        background-color: unset;
                        display: none;
                        list-style: none;
                        text-align: center;
                        bottom: -8px;
                        left: 14px;
                        background: none;
                        transition: transform 300ms ease-in-out;
                        background: unset;
                        animation-name: example;
                        animation-duration: 0.5s;
                    }
                    @keyframes example {
                        from {
                            bottom: 0px
                        }
                        to {
                            bottom: 30px;
                        }
                    }
                    li {
                        list-style: none;
                        margin: 5px;
                        width: 30px;
                        height: 30px;
                        color: rgb(8, 10, 60);
                        font-size: 30px !important;
                        &:hover .fa {
                            background: linear-gradient(to right, rgb(232, 147, 30), rgb(231, 96, 30));
                            color: white !important;
                        }
                        a {}
                        .iconify {
                            font-family: "Font Awesome 5 Brands";
                            font-weight: 400;
                            height: 36px;
                            width: 36px;
                            padding: 8px;
                            background: #f4f4f7;
                            font-size: 8px;
                            color: #6661c4;
                            border-radius: 5px;
                            &:hover {
                                background: #f4f4f7;
                                color: white;
                            }
                        }
                    }
                }
            }
            figcaption {
                margin-top: 25px;
                .team-info {
                    text-align: center;
                    .title {
                        font-size: 20px;
                        font-weight: 500;
                        text-align: center;
                        a {
                            font-size: 20px;
                            margin-top: 6px;
                            text-decoration: none;
                            color: #080a3c !important;
                        }
                    }
                    .subtitle {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.sectionEleven {
    background-color: rgb(244, 245, 254);
    background-image: url("../img/white-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        .row {
            .col-lg-6 {
                img {
                    max-width: 100%;
                    height: 100%;
                }
            }
            .col-lg-6 {
                h5 {
                    display: inline-block;
                    background-color: rgb(19, 196, 161);
                    color: rgb(255, 255, 255);
                    padding: 5px 25px;
                    border-radius: 35px;
                    margin-bottom: 15px;
                    font-size: 14px;
                    font-weight: 400;
                }
                h2 {
                    font-size: 30px;
                }
                .app {
                    display: inline-block;
                    background-color: rgb(255, 255, 255);
                    // box-shadow: rgb(0 0 0 / 7%) 0px 10px 30px;
                    padding: 12px 25px 12px 74px;
                    border-radius: 5px;
                    position: relative;
                    z-index: 1;
                    color: rgb(102, 103, 134);
                    font-size: 13px;
                    font-weight: 400;
                    .appimage {
                        img {
                            position: absolute;
                            left: 25px;
                            top: 50%;
                            max-width: 100%;
                            height: auto;
                            transform: translateY(-50%);
                        }
                    }
                    .apptext {
                        span {}
                        p {
                            display: block;
                            color: rgb(8, 10, 60);
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }
                .playmarket {
                    margin-left: 15 px;
                    display: inline-block;
                    background-color: rgb(255, 255, 255);
                    // box-shadow: rgb(0 0 0 / 7%) 0px 10px 30px;
                    padding: 12px 28px 12px 70px;
                    border-radius: 5px;
                    position: relative;
                    z-index: 1;
                    color: rgb(102, 103, 134);
                    font-size: 13px;
                    font-weight: 400;
                    .playmarketimage {
                        img {
                            position: absolute;
                            left: 25px;
                            max-width: 100%;
                            height: auto;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    .playmarkettext {
                        span {}
                        p {
                            display: block;
                            color: rgb(8, 10, 60);
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.sectionTwelve {
    background-color: white;
    height: 600px;
    .container {
        .row {
            .col-lg-4 {
                .ClientBanner {
                    padding-top: 60px;
                    h1 {
                        text-align: center;
                        color: rgb(8, 10, 60);
                    }
                    span {
                        color: rgb(255, 95, 47);
                        text-align: center;
                    }
                }
            }
        }
    }
    .container {
        .row {
            .col-lg-12 {
                .owl-carousel {
                    .item {
                        box-shadow: 5px 5px 5px 5px rgba(228, 228, 233, 0.5);
                        margin: 25px;
                        .row {
                            margin-top: 80px;
                            height: 254px;
                            width: 100%;
                            margin-left: 0;
                            .col-lg-4 {
                                margin-top: 28px;
                                text-align: center;
                                img {
                                    position: relative;
                                    top: -78px;
                                    left: -7%;
                                    width: 100%;
                                    padding: 5px;
                                }
                            }
                            .col-lg-8 {
                                position: relative;
                                margin-top: 28px;
                                p {}
                                .star {
                                    .fa-star {
                                        color: rgb(255, 95, 47) !important;
                                    }
                                }
                                img {
                                    position: absolute;
                                    width: 150px;
                                    height: 121px;
                                    right: 9px;
                                    top: 32%;
                                    opacity: 0.1;
                                }
                                .sentensClient {
                                    h3 {
                                        font-size: 22px;
                                    }
                                    span {}
                                }
                            }
                        }
                    }
                    .owl-dots {
                        .owl-dot {
                            width: 14px;
                            height: 14px;
                            margin: 0px 0px;
                            background: none;
                            transition: all 0.5s ease 0s;
                            border-radius: 50%;
                            border: 0px solid white;
                            border: 0px solid rgb(255, 255, 255);
                            position: relative;
                            span {
                                // margin: 0px !important;
                                // border-radius: 50%;
                                // background: rgb(190, 186, 186);
                            }
                        }
                    }
                }
            }
        }
    }
}

.active {
    .panel {
        border-top: 4px solid rgb(255, 97, 47);
    }
    &::after {
        // content: "\2212";
        color: rgb(155, 99, 82);
        font-weight: 900;
        background-color: #ccc;
        font: 20px Helvetica;
    }
    .accordion {
        &:hover {
            background-color: #ccc;
        }
    }
}

.sectionThirteen {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(244, 245, 254);
    .backgroundThirteen {
        .container {
            .row {
                .col-lg-12 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: space-around;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                    position: relative;
                    text-align: center;
                    h1 {
                        padding: 100px 270px 20px 270px;
                        font-size: 40px;
                        line-height: 1.5;
                    }
                    p {
                        color: rgb(74, 111, 138);
                        margin: 0px 2px 58px;
                        line-height: 1.8;
                        font-size: 15px;
                    }
                    .container-fluid {
                        padding-bottom: 80px;
                        .btn {
                            position: relative;
                            overflow: hidden;
                            color: white;
                            background-color: #13c4a1;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                            border: 1px solid #13c4a1;
                            width: 145px !important;
                            height: 40px !important;
                            &:hover {
                                background-color: #080a3c;
                            }
                        }
                    }
                    .shares {
                        .share1 {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                        }
                        .share2 {
                            position: absolute;
                            bottom: 70px;
                            left: 300px;
                        }
                        .share3 {
                            position: absolute;
                            bottom: 75px;
                            right: 300px;
                        }
                        .share4 {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    .adressesBackgroung {
        background-color: rgb(8, 10, 60);
        position: relative;
        z-index: 1;
        padding-top: 80px;
        color: rgb(172, 197, 219);
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: 1s linear 1s infinite normal none running imageChangeTwo;
            background-image: url("../img/footer-shape2.png");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .container {
            .row {
                .col-lg-4 {
                    p {
                        line-height: 2;
                    }
                }
                .col-lg-2 {
                    h3 {
                        color: white !important;
                        margin-top: 0px !important;
                    }
                    ul {
                        li {
                            list-style: none;
                            line-height: 2;
                        }
                    }
                }
                .col-lg-2 {
                    h3 {
                        color: white !important;
                        margin-top: 0px !important;
                    }
                    ul {
                        li {
                            list-style: none;
                            line-height: 2;
                        }
                    }
                }
                .col-lg-4 {
                    h3 {
                        color: white !important;
                        margin-top: 0px !important;
                    }
                    .contacts {
                        li {
                            line-height: 2;
                            list-style: none;
                        }
                    }
                    .sosials {
                        padding-left: 0px;
                        list-style-type: none;
                        margin-bottom: 0px;
                        margin-top: 20px;
                        padding-left: 19px;
                        li {
                            display: inline-block;
                            margin-right: 5px;
                            a {
                                display: block;
                                width: 30 px;
                                height: 30 px;
                                line-height: 33px;
                                background-color: rgb(78, 110, 138);
                                text-align: center;
                                font-size: 17px;
                                border-radius: 2 px;
                                transition: all 0.5s ease 0s;
                                color: rgb(8, 10, 60);
                                text-decoration: none;
                                outline: 0 px !important;
                                i {
                                    font-weight: normal;
                                    font-style: normal;
                                    font-variant: normal;
                                    line-height: 1;
                                    display: inline-block;
                                    text-transform: none;
                                    padding: 8px;
                                }
                            }
                            &:hover {
                                background-color: white;
                            }
                            &:hover a {
                                background-color: white;
                                color: rgb(8, 10, 60);
                            }
                        }
                    }
                }
            }
            .row:nth-child(2) {
                border-top: 1px solid white;
                .col-lg-12 {
                    text-align: center;
                    p {
                        span {
                            color: rgb(255, 97, 47);
                        }
                    }
                }
            }
        }
    }
}