* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    // overflow-x: hidden;
}

header {
    .container {
        .row {
            .col-lg-12 {
                .navbar-expand-lg {
                    width: 100%;
                    background-color: transparent;
                    height: auto;
                    z-index: 1040;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background: none !important;
                    .container-fluid {
                        width: 70%;
                        padding: 0px;
                        .navbar-brand {
                            img {}
                        }
                        .navbar-toggler {
                            span {}
                        }
                        .navbar-collapse {
                            justify-content: center;
                            font-size: 20px;
                            margin: 0px;
                            .navbar-nav {
                                .nav-item {
                                    padding: 0 px 19 px;
                                    display: flex;
                                    margin: 0 12px;
                                    &:hover .nav-link {
                                        color: #13c4a1 !important;
                                    }
                                    &:hover .dropdown-menu {
                                        display: inline;
                                    }
                                    .nav-link {}
                                    .dropdown-menu {
                                        width: 629px;
                                        position: absolute;
                                        display: none;
                                        top: 47px;
                                        .nav-item-left-side {
                                            display: inline-block !important;
                                            h3 {}
                                            .dropdown-item {}
                                        }
                                        .nav-item-right-side {
                                            display: inline-block;
                                            h3 {}
                                            .dropdown-item {}
                                        }
                                    }
                                }
                                .nav-item {
                                    .nav-link {
                                        color: #4a6f8a !important;
                                    }
                                }
                                .dropdown {
                                    &:hover .myStandart {
                                        display: none !important;
                                    }
                                    .dropdown-toggle {}
                                    .dropdown-menu {
                                        .nav-item {
                                            .standart {}
                                            .myStandart {
                                                .nav-item {
                                                    .dropdown-item {}
                                                }
                                            }
                                            &:hover .myStandart {
                                                display: inline-block !important;
                                            }
                                        }
                                        .nav-item {
                                            .dropdown-item {}
                                        }
                                    }
                                }
                            }
                        }
                        .nav-item {
                            .nav-link {
                                color: #4a6f8a !important;
                            }
                            .dropdown-menu {
                                .nav-item {
                                    .nav-link {}
                                }
                            }
                        }
                        .nav-item {
                            .nav-link {
                                color: #4a6f8a !important;
                            }
                        }
                    }
                }
                .bg-light {
                    justify-content: flex-end;
                    background: none !important;
                    width: 100%;
                    margin-right: 0px;
                    .container-fluid {
                        margin: 0px !important;
                        .me-2 {
                            width: 124px !important;
                            i {}
                            span {}
                        }
                        .btn-sm {
                            padding: 9px 0px;
                            width: 102px !important;
                            i {}
                            span {}
                        }
                    }
                }
            }
        }
    }
}

main {
    .sectionFirst {
        background-color: rgb(255, 97, 47);
        position: relative;
        z-index: 1;
        padding-top: 130px;
        padding-bottom: 120px;
        &::before {
            content: "";
            position: absolute;
            inset: 0px;
            opacity: 0.6;
            height: 100%;
            z-index: -1;
            animation: 15s linear 0s infinite normal none running animatedBackground;
            background-image: url("../img/bg_lines.svg");
            background-repeat: repeat;
            background-position: center center;
            background-size: cover;
        }
        .firstbackground {
            .container {
                .row {
                    .col-lg-12 {
                        color: white;
                        text-align: center;
                        .bannerText {
                            // padding: 150px 0;
                            h1 {}
                            p {}
                        }
                    }
                }
            }
        }
    }
    .sectionEight {
        background-color: #f8f9fa;
        .container {
            .row {
                .col-lg-12 {
                    h1 {}
                    .headerPlan {
                        display: flex;
                        justify-content: center;
                        font-size: 20px;
                        .leftside {
                            width: 200px;
                            display: flex;
                            margin: 0;
                            border: 1px solid;
                            border-bottom-left-radius: 20px;
                            border-top-left-radius: 20px;
                            color: rgb(255, 255, 255);
                            cursor: pointer;
                            background-color: rgb(8, 10, 60);
                            .iconify-inline {
                                margin: 9px 10px 0px 23px;
                                color: #fd7e14;
                            }
                            p {
                                margin: 4px 0px 0px 0px;
                            }
                        }
                        .rightside {
                            width: 200px;
                            display: flex;
                            margin: 0px;
                            padding: 6px 4px 8px 5px;
                            border: 0px solid;
                            border-bottom-right-radius: 20px;
                            border-top-right-radius: 20px;
                            background-color: rgb(255, 255, 255);
                            color: rgb(141, 143, 180);
                            cursor: pointer;
                            &:visited .first-tab {
                                display: none !important;
                            }
                            &:visited .last-tab {
                                display: block !important;
                            }
                            .iconify-inline {
                                margin: 9px 10px 0px 23px;
                                color: #fd7e14;
                            }
                            p {
                                margin: 0px;
                            }
                        }
                    }
                }
            }
            .item-tab {
                .row {
                    .col-lg-4 {
                        .card-price {
                            background: white;
                            margin-top: 30px;
                            width: 100%;
                            position: relative;
                            transition: all 0.4s ease-in-out;
                            &:hover {
                                transform: translateY(-8px);
                                box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192);
                            }
                            h3 {
                                color: #080a3c;
                                text-align: center;
                            }
                            .price {
                                transition: all 0.5s ease 0s;
                                padding-top: 8px;
                                padding-bottom: 5px;
                                border-top: 2px dashed rgb(244, 245, 254);
                                border-bottom: 2px dashed rgb(244, 245, 254);
                                font-weight: 600;
                                font-size: 40px;
                                padding: 25px;
                                text-align: center;
                                color: #080a3c;
                            }
                            span:last-child {
                                color: rgb(74, 111, 138);
                                font-size: 15px !important;
                            }
                            span {}
                            .listprice {}
                            ul {
                                list-style: none;
                                line-height: 1.9;
                                text-decoration: none;
                                color: rgb(74, 111, 138);
                                li {
                                    text-decoration: none;
                                    display: flex;
                                    justify-content: space-between;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    align-content: stretch;
                                    align-items: baseline;
                                    padding: 0px;
                                    i {
                                        display: flex;
                                        justify-content: center;
                                        align-items: flex-end;
                                        flex-direction: column;
                                        flex-wrap: nowrap;
                                        text-align: right;
                                        position: absolute;
                                        right: 35px;
                                        text-align: right;
                                        color: rgb(19, 196, 161);
                                    }
                                }
                            }
                            .container-fluid {
                                text-align: center !important;
                                .btn-outline-success {}
                            }
                        }
                    }
                }
            }
            .active {
                display: block;
            }
            .active1 {
                display: block;
            }
        }
    }
    .sectionEleven {
        background: #eee;
        .container {
            .row {
                .col-lg-6 {
                    h2 {
                        color: rgb(8, 10, 60);
                        span {
                            color: rgb(255, 97, 47);
                        }
                    }
                    .demo {
                        width: 100%;
                        padding-top: 60px;
                        padding-bottom: 60px;
                        .panel-group {
                            border-radius: 0;
                            box-shadow: none;
                            border-color: #EEEEEE;
                            .panel-default {
                                .panel-heading {
                                    padding: 0;
                                    border-radius: 0;
                                    color: #212121;
                                    background-color: #FAFAFA;
                                    border-color: #EEEEEE;
                                    .panel-title {
                                        font-size: 14px;
                                        a {
                                            display: block;
                                            padding: 15px;
                                            text-decoration: none;
                                            .more-less {
                                                float: right;
                                                color: #212121;
                                            }
                                        }
                                    }
                                }
                                .panel-collapse {
                                    .panel-body {
                                        border-top-color: #EEEEEE;
                                    }
                                }
                            }
                        }
                    }
                }
                .col-lg-6 {
                    img {
                        max-width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .sectionThirteen {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 100 px;
        padding-bottom: 100 px;
        .backgroundThirteen {
            background-color: rgb(244, 245, 254);
            height: 920px;
            .container {
                .row {
                    .col-lg-12 {
                        .section-title {
                            text-align: center;
                            max-width: 575 px;
                            text-transform: capitalize;
                            margin-left: auto;
                            margin-bottom: 60 px;
                            margin-right: auto;
                            h2 {
                                font-size: 40px;
                                font-weight: 600;
                                padding: 70px 0 70px 0;
                            }
                        }
                        .clients-logo-list {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            align-content: stretch;
                            align-items: center!important;
                            list-style: none;
                            .single-clients-logo {
                                -webkit-box-flex: 0;
                                flex: 0 0 20%;
                                max-width: 20%;
                                a {
                                    text-align: center;
                                    display: block;
                                    background-color: white;
                                    padding: 30px 20px;
                                    transition: all 0.5s ease 0s;
                                    transition: all 0.5s ease 0s;
                                    color: #080a3c;
                                    text-decoration: none;
                                    outline: 0px !important;
                                    margin: 10px;
                                    img {
                                        transition: all 0.5s ease 0s;
                                        max-width: 100%;
                                        height: auto;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .container {
                .row {
                    .col-lg-12 {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-content: space-around;
                        justify-content: center;
                        align-items: center;
                        vertical-align: middle;
                        position: relative;
                        text-align: center;
                        h1 {
                            padding: 20px 270px 20px 270px;
                            font-size: 40px;
                            line-height: 1.5;
                        }
                        p {
                            color: rgb(74, 111, 138);
                            margin: 0px 2px 58px;
                            line-height: 1.8;
                            font-size: 15px;
                        }
                        .container-fluid {
                            padding-bottom: 80px;
                            .btn {}
                        }
                        .shares {
                            .share1 {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                            }
                            .share2 {
                                position: absolute;
                                bottom: 70px;
                                left: 300px;
                            }
                            .share3 {
                                position: absolute;
                                bottom: 75px;
                                right: 300px;
                            }
                            .share4 {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .adressesBackgroung {
        background-color: rgb(8, 10, 60);
        position: relative;
        z-index: 1;
        padding-top: 80px;
        color: rgb(172, 197, 219);
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: 1s linear 1s infinite normal none running imageChangeTwo;
            background-image: url("../img/footer-shape2.png");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .container {
            .row {
                .col-lg-4 {
                    .logFooter {
                        a {
                            img {}
                        }
                    }
                    p {
                        line-height: 2;
                    }
                }
                .col-lg-2 {
                    h3 {
                        color: white !important;
                        margin-top: 0px !important;
                    }
                    ul {
                        li {
                            list-style: none;
                            line-height: 2;
                        }
                    }
                }
                .col-lg-2 {
                    h3 {
                        color: white !important;
                        margin-top: 0px !important;
                    }
                    ul {
                        li {
                            list-style: none;
                            line-height: 2;
                        }
                    }
                }
                .col-lg-4 {
                    h3 {
                        color: white !important;
                        margin-top: 0px !important;
                    }
                    .contacts {
                        li {
                            line-height: 2;
                            list-style: none;
                            a {}
                        }
                    }
                    .sosials {
                        padding-left: 0px;
                        list-style-type: none;
                        margin-bottom: 0px;
                        margin-top: 20px;
                        padding-left: 19px;
                        li {
                            display: inline-block;
                            margin-right: 5px;
                            a {
                                display: block;
                                width: 30 px;
                                height: 30 px;
                                line-height: 33px;
                                background-color: rgb(78, 110, 138);
                                text-align: center;
                                font-size: 17px;
                                border-radius: 2 px;
                                transition: all 0.5s ease 0s;
                                color: rgb(8, 10, 60);
                                text-decoration: none;
                                outline: 0 px !important;
                                i {
                                    font-weight: normal;
                                    font-style: normal;
                                    font-variant: normal;
                                    line-height: 1;
                                    display: inline-block;
                                    text-transform: none;
                                    /* -webkit-font-smoothing: antialiased; */
                                    /* font-family: boxicons !important; */
                                    padding: 8px;
                                }
                            }
                        }
                    }
                }
            }
            .row:nth-child(2) {
                border-top: 1px solid white;
                .col-lg-12 {
                    text-align: center;
                    p {
                        span {
                            color: rgb(255, 97, 47);
                        }
                    }
                }
            }
        }
        section {
            .scroll {
                .firstscroll {
                    a {
                        i {}
                    }
                }
            }
        }
    }
}