* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0; }

body {
  font-family: Verdana, sans-serif;
  box-sizing: border-box; }

header .container .row .col-lg-12 {
  background-color: white; }
  header .container .row .col-lg-12 .navbar-expand-lg {
    background-color: transparent;
    height: auto;
    z-index: 1040;
    left: 0;
    width: 100%;
    top: 0;
    transition: all 0.3s linear; }
    header .container .row .col-lg-12 .navbar-expand-lg.active {
      position: fixed;
      box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.25);
      background-color: white !important;
      display: flex; }
    header .container .row .col-lg-12 .navbar-expand-lg.active .me-2:hover {
      background-color: #080a3c;
      color: white !important; }
    header .container .row .col-lg-12 .navbar-expand-lg.active .btn-sm:hover {
      background-color: #080a3c;
      color: white !important; }
    header .container .row .col-lg-12 .navbar-expand-lg.active .navbar-brand {
      margin-left: 75px; }
    header .container .row .col-lg-12 .navbar-expand-lg .container-fluid {
      width: 70%;
      padding: 0px; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-brand {
        padding: 0; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse {
        justify-content: center;
        font-size: 20px;
        margin: 0px; }
        header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav {
          height: 80px !important;
          vertical-align: middle;
          display: flex;
          align-content: center;
          align-items: center; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item {
            padding: 0px;
            display: flex;
            margin: 0 12px; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
              color: #13c4a1 !important; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
              display: inline; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
              text-decoration: none; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
              border-top: 2px solid #13c4a1;
              border-top-left-radius: 7px;
              border-top-right-radius: 7px;
              width: 663px;
              position: absolute;
              display: none;
              top: 47px; }
              header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-left-side {
                display: inline-block !important; }
                header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-left-side h3 {
                  text-align: center; }
                header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-left-side .dropdown-item {
                  color: #4a6f8a;
                  line-height: 1.9; }
                  header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-left-side .dropdown-item::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 260px;
                    height: 0.5px;
                    border: 1px dashed #e2e6e5; }
                  header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-left-side .dropdown-item:hover {
                    color: #13c4a1 !important; }
              header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-right-side {
                display: inline-block; }
                header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-right-side h3 {
                  text-align: center; }
                header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-right-side .dropdown-item {
                  line-height: 1.9;
                  color: #4a6f8a; }
                  header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-right-side .dropdown-item::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 260px;
                    height: 0.5px;
                    border: 1px dashed #e2e6e5; }
                  header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .dropdown-menu .nav-item-right-side .dropdown-item:hover {
                    color: #13c4a1 !important; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
            color: #4a6f8a !important; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown:hover .myStandart {
            display: none !important; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item .myStandart .nav-item .dropdown-item {
            color: #4a6f8a;
            line-height: 1.9; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item .myStandart .nav-item .dropdown-item::before {
              content: '';
              position: absolute;
              left: 0;
              width: 220px;
              height: 0.5px;
              border: 1px dashed #e2e6e5; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item .myStandart .nav-item .dropdown-item:hover {
              color: #13c4a1 !important; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item:hover .myStandart {
            display: inline-block !important; }
          header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item .dropdown-item {
            color: #4a6f8a;
            line-height: 1.9; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item .dropdown-item::before {
              content: '';
              position: absolute;
              left: 0;
              width: 220px;
              height: 0.5px;
              border: 1px dashed #e2e6e5; }
            header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .nav-item .dropdown-item:hover {
              color: #13c4a1 !important; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .nav-item .nav-link {
        color: #4a6f8a !important; }
      header .container .row .col-lg-12 .navbar-expand-lg .container-fluid .nav-item .nav-link {
        color: #4a6f8a !important; }
  header .container .row .col-lg-12 .bg-light {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    background: none !important;
    width: 100%;
    margin-right: 0 px !important;
    margin-bottom: 0 px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    header .container .row .col-lg-12 .bg-light .container-fluid {
      margin: 0px !important; }
      header .container .row .col-lg-12 .bg-light .container-fluid .me-2 {
        position: relative;
        overflow: hidden;
        color: white;
        background-color: #13c4a1;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid #13c4a1;
        width: 145px !important;
        height: 40px !important; }
        header .container .row .col-lg-12 .bg-light .container-fluid .me-2:hover {
          background-color: #080a3c; }
      header .container .row .col-lg-12 .bg-light .container-fluid .btn-sm {
        position: relative;
        overflow: hidden;
        color: #080a3c;
        background-color: transparent;
        margin-left: 8px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid #080a3c;
        width: 109px !important;
        height: 40px !important; }
        header .container .row .col-lg-12 .bg-light .container-fluid .btn-sm i {
          color: #ff612f; }
        header .container .row .col-lg-12 .bg-light .container-fluid .btn-sm:hover {
          background-color: #080a3c;
          color: white; }
        header .container .row .col-lg-12 .bg-light .container-fluid .btn-sm:hover i {
          color: white; }

main .sectionFirst {
  background-color: #ff612f;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  padding-bottom: 120px; }
  main .sectionFirst::before {
    content: "";
    position: absolute;
    inset: 0px;
    opacity: 0.6;
    height: 100%;
    z-index: -1;
    animation: 15s linear 0s infinite normal none running animatedBackground;
    background-image: url("../img/bg_lines.svg");
    background-repeat: repeat;
    background-position: center center;
    background-size: cover; }
  main .sectionFirst .firstbackground .container .row .col-lg-12 {
    color: white;
    text-align: center; }
main .sectionSecond .container .row .col-lg-12 img {
  width: 100%;
  height: auto; }
main .sectionSecond .container .row .col-lg-12 p {
  text-align: justify; }
main .sectionThird .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30 px;
  background: #f4f5fe;
  padding: 30 px 20 px;
  border-radius: 10 px;
  padding: 30 px 20 px;
  background-color: #f4f5fe;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: stretch; }
  main .sectionThird .container .row .col-lg-2 h4 {
    color: #080a3c;
    font-weight: 700; }
  main .sectionThird .container .row .col-lg-2 p {
    color: #4a6f8a; }
  main .sectionThird .container .row .col-lg-2:nth-child(1) {
    padding-left: 50px; }
  main .sectionThird .container .row .col-lg-4 h4 {
    color: #080a3c;
    font-weight: 700;
    margin-bottom: -14px;
    margin-top: 19px; }
  main .sectionThird .container .row .col-lg-4 .sosials {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 20px; }
    main .sectionThird .container .row .col-lg-4 .sosials li {
      display: inline-block;
      margin-right: 5px;
      position: relative;
      transition: all 0.4s ease-in-out; }
      main .sectionThird .container .row .col-lg-4 .sosials li:hover a {
        transform: translateY(-4px);
        color: #13c4a1; }
      main .sectionThird .container .row .col-lg-4 .sosials li a {
        display: block;
        width: 30 px;
        height: 30 px;
        line-height: 33px;
        background-color: white;
        text-align: center;
        font-size: 17px;
        border-radius: 2 px;
        transition: all 0.5s ease 0s;
        color: #4a6f8a;
        text-decoration: none;
        border-radius: 50px;
        outline: 0 px !important; }
        main .sectionThird .container .row .col-lg-4 .sosials li a i {
          font-weight: normal;
          font-style: normal;
          font-variant: normal;
          line-height: 1;
          display: inline-block;
          text-transform: none;
          /* -webkit-font-smoothing: antialiased; */
          /* font-family: boxicons !important; */
          padding: 8px; }
  main .sectionThird .container .row .col-lg-2 {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center; }
    main .sectionThird .container .row .col-lg-2 .container-fluid .btn {
      position: relative;
      overflow: hidden;
      color: white;
      background-color: #13c4a1;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      border: 1px solid #13c4a1;
      width: 145px !important;
      height: 40px !important; }
      main .sectionThird .container .row .col-lg-2 .container-fluid .btn:hover {
        background-color: #080a3c; }
main .sectionTwelve {
  background-color: white;
  height: 340px; }
  main .sectionTwelve .container .row .col-lg-4 .ClientBanner {
    padding-top: 60px; }
    main .sectionTwelve .container .row .col-lg-4 .ClientBanner h1 {
      text-align: center;
      color: #080a3c; }
    main .sectionTwelve .container .row .col-lg-4 .ClientBanner span {
      color: #ff5f2f;
      text-align: center; }
  main .sectionTwelve .container .row .col-lg-12 .formback {
    background-color: #ff612f;
    border-radius: 30px;
    padding: 50px 200px;
    position: relative;
    bottom: -20px; }
    main .sectionTwelve .container .row .col-lg-12 .formback h1 {
      text-align: center;
      padding: 0 100px;
      color: white;
      font-weight: 600; }
    main .sectionTwelve .container .row .col-lg-12 .formback .share19 {
      width: 50px;
      height: 50px; }
      main .sectionTwelve .container .row .col-lg-12 .formback .share19 img {
        position: absolute;
        right: 19px;
        bottom: 7px; }
    main .sectionTwelve .container .row .col-lg-12 .formback .share20 {
      position: absolute;
      left: 0px;
      bottom: 11px; }
    main .sectionTwelve .container .row .col-lg-12 .formback .share13 {
      position: absolute;
      left: 19px;
      top: 18px; }
    main .sectionTwelve .container .row .col-lg-12 .formback .share17 {
      position: absolute;
      right: 145px;
      top: 193px; }
    main .sectionTwelve .container .row .col-lg-12 .formback .share14 {
      position: absolute;
      right: 23px;
      top: 18px; }
    main .sectionTwelve .container .row .col-lg-12 .formback .g-3 {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: initial;
      align-content: flex-end;
      align-items: center;
      padding-top: 50px; }
      main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(1) {
        position: relative;
        display: flex;
        flex: 0 0 auto;
        width: auto;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center; }
        main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(1) .visually-hidden {
          color: white; }
        main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(1) .input-newsletter {
          margin-right: 0px;
          width: 350px !important;
          height: 50px !important;
          border: 0px solid;
          position: absolute;
          left: -45px;
          top: -29px;
          background-color: #c32f00;
          display: block;
          width: 100%;
          border: none;
          height: 50px;
          border-radius: 5px;
          color: white;
          background-color: #c32f00;
          padding: 0px 0px 0px 15px;
          font-size: 14px;
          font-weight: 500; }
      main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(2) {
        position: relative;
        display: flex;
        flex: 0 0 auto;
        width: auto;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center; }
        main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(2) .btn-primary {
          margin-left: 0;
          width: 145px !important;
          height: 50px !important;
          position: absolute;
          right: -89px;
          position: relative;
          overflow: hidden;
          color: white;
          background-color: #13c4a1;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          border: 1px solid #13c4a1; }
          main .sectionTwelve .container .row .col-lg-12 .formback .g-3 .col-auto:nth-child(2) .btn-primary:hover {
            background-color: #080a3c; }
main .sectionThirteen {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100 px;
  padding-bottom: 100 px; }
  main .sectionThirteen .backgroundThirteen {
    background-color: #f4f5fe;
    height: 840px; }
    main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .section-title {
      text-align: center;
      max-width: 575 px;
      text-transform: capitalize;
      margin-left: auto;
      margin-bottom: 60 px;
      margin-right: auto;
      color: #2a2c69; }
      main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .section-title h2 {
        font-size: 40px;
        font-weight: 600;
        padding: 213px 0 103px 0; }
    main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      align-items: center !important;
      list-style: none; }
      main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo {
        -webkit-box-flex: 0;
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
        transition: all 0.4s ease-in-out; }
        main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo:hover {
          transform: translateY(-8px);
          box-shadow: 3px 3px 3px 3px rgba(170, 170, 165, 0.192); }
        main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo a {
          text-align: center;
          display: block;
          background-color: white;
          padding: 30px 20px;
          transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
          color: #080a3c;
          text-decoration: none;
          outline: 0px !important;
          margin: 10px; }
          main .sectionThirteen .backgroundThirteen .container .row .col-lg-12 .clients-logo-list .single-clients-logo a img {
            transition: all 0.5s ease 0s;
            max-width: 100%;
            height: auto;
            vertical-align: middle; }

footer .adressesBackgroung {
  background-color: #080a3c;
  position: relative;
  z-index: 1;
  padding-top: 80px;
  color: #acc5db; }
  footer .adressesBackgroung::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: 1s linear 1s infinite normal none running imageChangeTwo;
    background-image: url("../img/footer-shape2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  footer .adressesBackgroung .container .row .col-lg-4 p {
    line-height: 2; }
  footer .adressesBackgroung .container .row .col-lg-2 h3 {
    color: white !important;
    margin-top: 0px !important; }
  footer .adressesBackgroung .container .row .col-lg-2 ul li {
    list-style: none;
    line-height: 2; }
  footer .adressesBackgroung .container .row .col-lg-2 h3 {
    color: white !important;
    margin-top: 0px !important; }
  footer .adressesBackgroung .container .row .col-lg-2 ul li {
    list-style: none;
    line-height: 2; }
  footer .adressesBackgroung .container .row .col-lg-4 h3 {
    color: white !important;
    margin-top: 0px !important; }
  footer .adressesBackgroung .container .row .col-lg-4 .contacts li {
    line-height: 2;
    list-style: none; }
  footer .adressesBackgroung .container .row .col-lg-4 .sosials {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-left: 19px; }
    footer .adressesBackgroung .container .row .col-lg-4 .sosials li {
      display: inline-block;
      margin-right: 5px; }
      footer .adressesBackgroung .container .row .col-lg-4 .sosials li a {
        display: block;
        width: 30 px;
        height: 30 px;
        line-height: 33px;
        background-color: #4e6e8a;
        text-align: center;
        font-size: 17px;
        border-radius: 2 px;
        transition: all 0.5s ease 0s;
        color: #080a3c;
        text-decoration: none;
        outline: 0 px !important; }
        footer .adressesBackgroung .container .row .col-lg-4 .sosials li a i {
          font-weight: normal;
          font-style: normal;
          font-variant: normal;
          line-height: 1;
          display: inline-block;
          text-transform: none;
          /* -webkit-font-smoothing: antialiased; */
          /* font-family: boxicons !important; */
          padding: 8px; }
  footer .adressesBackgroung .container .row:nth-child(2) {
    border-top: 1px solid white; }
    footer .adressesBackgroung .container .row:nth-child(2) .col-lg-12 {
      text-align: center; }
      footer .adressesBackgroung .container .row:nth-child(2) .col-lg-12 p span {
        color: #ff612f; }

/*# sourceMappingURL=Services.css.map */
