<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/About.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/plugins/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <link rel="stylesheet" href="/path/to/bootstrap.min.css" />
    <script src="/path/to/jquery.min.js"></script>
    <script src="/path/to/bootstrap.min.js"></script>
    <script src="assets/plugins/owl.carousel.min.js"></script>
    <title>About</title>
</head>

<body>
    <header>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light " id="navbar ">
                        <div class="container-fluid ">
                            <a class="navbar-brand " href="# "> <img src="img/logo.png " alt=" " class="navbar-brand " href="https://templates.envytheme.com/strax/default/index-it-2.html "></a>
                            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavDropdown " aria-controls="navbarNavDropdown " aria-expanded="false " aria-label="Toggle navigation "><span class="navbar-toggler-icon "></span></button>
                            <div class="collapse navbar-collapse " id="navbarNavDropdown ">
                                <ul class="navbar-nav ">
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false " style="color: #13c4a1 !important; ">
                                        Home </a>
                                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdownMenuLink ">
                                            <li class="nav-item-left-side ">
                                                <h3>With Animation</h3>
                                                <a class="dropdown-item " href="# ">Home One (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Two (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Three (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Four (SaaS Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Five (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Six (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Seven (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Eight (Digital Marketing Agency)</a>
                                            </li>
                                            <li class="nav-item-right-side ">
                                                <h3>Without Animation</h3>
                                                <a class="dropdown-item " href="# ">Home One (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Two (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Three (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Four (SaaS Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Five (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Six (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Seven (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Eight (Digital Marketing Agency)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">About</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Pricing</a>
                                    </li>
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false ">Pages </a>
                                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style=" width: 230px !important ">
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item standart">Services</a>
                                                <ul class="dropdown-menu myStandart " aria-labelledby="navbarDropdownMenuLink" style="width: 250px; left: -250px; top:0px ">
                                                    <li class="dropdown-item ">
                                                        <a href="# " class="dropdown-item ">Services Style One</a>
                                                    </li>
                                                    <li class="dropdown-item ">
                                                        <a href="# " class="dropdown-item">Services Style Two</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item ">Services Style Three</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item standart">Features</a>
                                                <ul class="dropdown-menu myStandart " aria-labelledby="navbarDropdownMenuLink" style="width: 250px; left: -250px; top:60px ">
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item ">Features Style One</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item">Features Style Two</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Team</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Log In</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Sign Up</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">FAQ</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">404 Error</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false ">Blog </a>
                                        <ul class="dropdown-menu " style="width: 230px !important ">
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Grid</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Right Sidebar</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="navbar navbar-light bg-light ">
                            <form class="container-fluid justify-content-start ">
                                <button class="btn btn-outline-success me-2 " type="button "><i class="fab fa-hotjar "></i> Get Started<span style="top: 43.2px; left: 4.3125px; "></span></button>
                                <button class="btn btn-sm btn-outline-secondary " type="button "><i class="fas fa-sign-in-alt "></i> Log-in<span style="top: 43.2px; left: 4.3125px; "></span></button>
                            </form>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="sectionFirst">
            <div class="container firstbackground">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-12">
                            <div class="bannerText">
                                <h1>About</h1>
                                <p>The Strax Story</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="sectionSecond">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="textForsecond">
                            <h4>How we are Founded</h4>
                            <h1>Take your business to the next level</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Every month they moved their money the old way – which wasted their time and
                                money. So they invented a beautifully simple workaround that became a billion-dollar business.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="img/about-img.jpg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section class="sectionThird">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1>Featured by:</h1>
                    </div>
                    <div class="col-lg-9">
                        <div class="slider">
                            <div class="slide-track">
                                <div class="slide">
                                    <img src="img/1 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/2 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/3 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/4 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/1 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/2 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/3 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/4 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/1 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/2 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/3 (2).png" alt="">
                                </div>
                                <div class="slide">
                                    <img src="img/4 (2).png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-dots">
                <button role="button" class="owl-dot active">
                    <span></span>
                </button>
                <button role="button" class="owl-dot">
                    <span></span>
                </button>
                <button role="button" class="owl-dot">
                    <span></span>
                </button>
            </div>
        </section>
        <section class="sectionSix">
            <div class="container" style="padding: 50px 0px;">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8"><span class="iconify" data-icon="bi:play-fill"></span></a>
                        <img src="img/video-bg.jpg" alt="">
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="imageYoutube">
                        <img src="img/1.png" alt="">
                        <img src="img/2.png" alt="">
                        <img src="img/3.png" alt="">
                        <img src="img/4.png" alt="">
                        <img src="img/5.png" alt="">
                        <img src="img/6.png" alt="">
                        <img src="img/7.png" alt="">
                        <img src="img/9.png" alt="">
                        <img src="img/9.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionSeven">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="forbackground">
                            <div class="container">
                                <div data-aos="fade-right">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="card question">
                                                <div class="chekbox" style="text-align: center;">
                                                    <span class="iconify" style="text-align: center; font-size: 35px;" data-icon="bx:bx-list-check"></span>
                                                </div>
                                                <div class="boxcount" style="text-align: center;">
                                                    <span class="counter">0</span><span>+</span>
                                                </div>
                                                <h5>Completed Projects</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="card question">
                                                <div class="chekbox" style="text-align: center; ">
                                                    <span class="iconify " style="text-align: center; font-size: 35px;" data-icon="bx:bx-smile"></span>
                                                </div>
                                                <div class="boxcount" style="text-align: center; ">
                                                    <span class="counter2">0</span><span>+</span>
                                                </div>
                                                <h5>Happy Clients</h5>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 ">
                                            <div class="card question">
                                                <div class="chekbox " style="text-align: center; ">
                                                    <span class="iconify " style="text-align: center; font-size: 40px; " data-icon="bx:bx-grid-small"></span>
                                                </div>
                                                <div class="boxcount" style="text-align: center; ">
                                                    <span class="counter3">0</span> <span>+</span>
                                                </div>
                                                <h5>Ongoing Projects</h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="card question ">
                                                <div class="chekbox " style="text-align: center; ">
                                                    <span class="iconify " style="text-align: center; font-size: 35px;" data-icon="bx:bxs-award"></span>
                                                </div>
                                                <div class="boxcount" style="text-align: center; ">
                                                    <span class="counter4">0</span><span>+</span>
                                                </div>
                                                <h5>Winning Awards</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div data-aos="fade-up">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="questionall">
                                                <div class="questiontext ">
                                                    <h3>Have any question about us?</h3>
                                                    <p>Don't hesitate to contact us.</p>
                                                </div>
                                                <form class="container-fluid justify-content-start " style="text-align: end;">
                                                    <button class="btn btn-outline-success me-2 " type="button "><span class="iconify-inline" data-icon="ant-design:edit-filled"></span> Contact Us<span style="top: 43.2px; left: 4.3125px; "></span></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="sectionNine">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Meet Our Experts Always Ready To Help You</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 col-sm-6 col-md-12">
                        <div data-aos="fade-up">
                            <div class="card" style="border: 4px solid #ffdacf;">
                                <div class="CycleMain"></div>
                                <img src="img/8.jpg" class="card-img-top" alt="...">
                                <ul class="socials">
                                    <li><a href="#"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:facebook"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:linkedin"></span></a></li>
                                </ul>
                            </div>
                            <figcaption>
                                <div class="team-info">
                                    <h3 class="title"><a href="#">Alex Maxwel</a></h3>
                                    <h4 class="subtitle" style=" color: rgb(255, 97, 47)">CEO & Founder</h4>
                                </div>
                            </figcaption>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-12">
                        <div data-aos="fade-up">
                            <div class="card" style="border: 4px solid rgb(188, 233, 229)">
                                <img src="img/2.jpg" class="card-img-top" alt="...">
                                <ul class="socials">
                                    <li><a href="#"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:facebook"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:linkedin"></span></a></li>
                                </ul>
                            </div>
                            <figcaption>
                                <div class="team-info">
                                    <h3 class="title"><a href="#">Sarah Taylor</a></h3>
                                    <h4 class="subtitle" style="color: #20c997">UX/UI Designer</h4>
                                </div>
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-12">
                        <div data-aos="fade-up">
                            <div class="card" style="border: 4px solid rgb(178, 179, 195);">
                                <img src="img/3.jpg" class="card-img-top" alt="...">
                                <ul class="socials">
                                    <li><a href="#"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:facebook"></span></li>
                                <li><a href="#"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:linkedin"></span></a></li>
                                </ul>
                            </div>
                            <figcaption>
                                <div class="team-info">
                                    <h3 class="title"><a href="#">Lee Munroe</a></h3>
                                    <h4 class="subtitle" style="color: rgb(8, 10, 60);">Web Developer</h4>
                                </div>
                            </figcaption>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-12">
                        <div data-aos="fade-up">
                            <div class="card card-four" style="border: 4px solid rgb(254, 210, 225);">
                                <img src="img/4 (2).jpg" class="card-img-top" alt="...">
                                <ul class="socials">
                                    <li><a href="#"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:facebook"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="akar-icons:instagram-fill"></span></a></li>
                                    <li><a href="#"><span class="iconify" data-icon="brandico:linkedin"></span></a></li>
                                </ul>
                            </div>
                            <figcaption>
                                <div class="team-info">
                                    <h3 class="title"><a href="#">Calvin Klein</a></h3>
                                    <h4 class="subtitle" style=" color: rgb(252, 76, 134);">Support</h4>
                                </div>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionEleven">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <img src="img/mobile.png" alt="">
                    </div>
                    <div class="col-lg-6">
                        <h5>Download App</h5>
                        <h2>Supporting your customers on the go with our mobile app</h2>
                        <div class="app" style="margin-right: 20 px;">
                            <div class="appimage">
                                <img src="img/applestore.png" alt="">
                            </div>
                            <div class="apptext">
                                <span>Download on the</span>
                                <p>Apple Store</p>
                            </div>
                        </div>
                        <div class="playmarket">
                            <div class="playmarketimage">
                                <img src="img/playstore.png" alt="">
                            </div>
                            <div class="playmarkettext">
                                <span>Get it on</span>
                                <p>Google Play</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionTwelve">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <div class="ClientBanner">
                            <h1>Whats Our Clients Said About <span>Strax</span></h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="allClient">
                                            <div class="imageClient">
                                                <img src="img/man1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <div class="stars">
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                        </div>
                                        <img src="https://cdn-icons-png.flaticon.com/512/59/59149.png" width="256" height="256" alt="Left quote  free icon" title="Left quote free icon">
                                        <div class="sentensClient">
                                            <h3>James Andy</h3>
                                            <span>CEO at 3S</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="allClient">
                                            <div class="imageClient">
                                                <img src="img/woman2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <div class="stars">
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                        </div>
                                        <img src="https://cdn-icons-png.flaticon.com/512/59/59149.png" width="256" height="256" alt="Left quote  free icon" title="Left quote free icon">
                                        <div class="sentensClient">
                                            <h3>Sarah Taylor</h3>
                                            <span>CEO at EnvyTheme</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="allClient">
                                            <div class="imageClient">
                                                <img src="img/man1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <div class="stars">
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                        </div>
                                        <img src="https://cdn-icons-png.flaticon.com/512/59/59149.png" width="256" height="256" alt="Left quote  free icon" title="Left quote free icon">
                                        <div class="sentensClient">
                                            <h3>Michel John</h3>
                                            <span>CEO at Envato</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="allClient">
                                            <div class="imageClient">
                                                <img src="img/woman2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <div class="stars">
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                        </div>
                                        <img src="https://cdn-icons-png.flaticon.com/512/59/59149.png" width="256" height="256" alt="Left quote  free icon" title="Left quote free icon">
                                        <div class="sentensClient">
                                            <h3>James Andy</h3>
                                            <span>CEO at 3S</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="allClient">
                                            <div class="imageClient">
                                                <img src="img/man1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <div class="stars">
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                        </div>
                                        <img src="https://cdn-icons-png.flaticon.com/512/59/59149.png" width="256" height="256" alt="Left quote  free icon" title="Left quote free icon">
                                        <div class="sentensClient">
                                            <h3>Michel John</h3>
                                            <span>CEO at Envato</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="allClient">
                                            <div class="imageClient">
                                                <img src="img/woman2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                        <div class="stars">
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                            <i class="fas fa-star" style="color:rgb(255, 95, 47);"></i>
                                        </div>
                                        <img src="https://cdn-icons-png.flaticon.com/512/59/59149.png" width="256" height="256" alt="Left quote  free icon" title="Left quote free icon">
                                        <div class="sentensClient">
                                            <h3>Sarah Taylor</h3>
                                            <span>CEO at EnvyTheme</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="sectionThirteen">
            <div class="backgroundThirteen">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Practice active listening and follow through</h1>
                            <p>Qualify your leads & recognize the value of word your customer will love you</p>
                            <form class="container-fluid justify-content-start ">
                                <button class="btn btn-outline-success me-2 " type="button "><i class="fab fa-hotjar "></i> Try Free Now<span style="top: 43.2px; left: 4.3125px; "></span></button>
                            </form>
                            <div class="shares">
                                <div class="share1"><img src="img/11.png" alt="image"></div>
                                <div class="share2"><img src="img/7.png" alt="image"></div>
                                <div class="share3"><img src="img/10.png" alt="image"></div>
                                <div class="share4"><img src="img/12.png" alt="image"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <div class="adressesBackgroung">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logFooter">
                            <a href=""><img src="img/white-logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="col-lg-2">
                        <h3>Company</h3>
                        <ul>
                            <li>About Us </li>
                            <li>Services </li>
                            <li>Features </li>
                            <li>Our Pricing </li>
                            <li>Latest News</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h3>Support</h3>
                        <ul>
                            <li>FAQ's </li>
                            <li>Privacy Policy </li>
                            <li>Terms & Conditions</li>
                            <li>Community</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 ">
                        <h3>Contact Info</h3>
                        <ul class="contacts ">
                            <li>Location: <a href="https://goo.gl/maps/MQ78iGP5g9VgZcJ38 " target="_blank ">6th Floor, Elegant Tower, York, USA</a></li>
                            <li>Email: <a href="mailto:hello@strax.com ">hello@strax.com</a></li>
                            <li>Phone: <a href="tel:+321754754 ">+0 (321) 984 754</a></li>
                        </ul>
                        <ul class="sosials ">
                            <li>
                                <a href=" ">
                                    <i class="fab fa-facebook-f " aria-hidden="true " style="padding: 8px 13px 2px 12px;"></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-twitter " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-instagram " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-linkedin-in " aria-hidden="true "></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright @ 2021 Strax. Designed by <span>EnvyTheme</span></p>
                    </div>
                </div>
            </div>

            <section>
                <div class="scroll ">
                    <div class="firstscroll "><a href="# "><i class="fas fa-chevron-up "></i></a></div>
                </div>
            </section>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script>
        AOS.init();
    </script>
    <script src="assets/plugins/Infinite-Scroller-Plugin-jQuery/infiniteslidev2.js"></script>
    <script>
        $('.scroll1').infiniteslide();
    </script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js " integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="assets/plugins/counter/increasing-counter-effect/src/countfect.min.js"></script>
    <script src="assets/plugins/counter/animated-counter-when-visible/multi-animated-counter.js"></script>
    <script src="assets/plugins/carousel/OwlCarousel2-2.3.4/js/owl.carousel.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js "></script>
    <script src="js/about.js"></script>
</body>

</html>

</html>