<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Contact.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/plugins/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="assets/plugins/owl.carousel.min.js"></script>
    <title>Contacts</title>
</head>

<body>
    <header>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light " id="navbar ">
                        <div class="container-fluid ">
                            <a class="navbar-brand " href="# "> <img src="img/logo.png " alt=" " class="navbar-brand " href="https://templates.envytheme.com/strax/default/index-it-2.html "></a>
                            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavDropdown " aria-controls="navbarNavDropdown " aria-expanded="false " aria-label="Toggle navigation "><span class="navbar-toggler-icon "></span></button>
                            <div class="collapse navbar-collapse " id="navbarNavDropdown ">
                                <ul class="navbar-nav ">
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false " style="color: #13c4a1 !important; ">
                                        Home </a>
                                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdownMenuLink ">
                                            <li class="nav-item-left-side ">
                                                <h3>With Animation</h3>
                                                <a class="dropdown-item " href="# ">Home One (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Two (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Three (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Four (SaaS Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Five (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Six (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Seven (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Eight (Digital Marketing Agency)</a>
                                            </li>
                                            <li class="nav-item-right-side ">
                                                <h3>Without Animation</h3>
                                                <a class="dropdown-item " href="# ">Home One (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Two (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Three (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Four (SaaS Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Five (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Six (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Seven (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Eight (Digital Marketing Agency)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">About</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Pricing</a>
                                    </li>
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false ">Pages </a>
                                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style=" width: 230px !important ">
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item standart">Services</a>
                                                <ul class="dropdown-menu myStandart " aria-labelledby="navbarDropdownMenuLink" style="width: 250px; left: -250px; top:0px ">
                                                    <li class="dropdown-item ">
                                                        <a href="# " class="dropdown-item ">Services Style One</a>
                                                    </li>
                                                    <li class="dropdown-item ">
                                                        <a href="# " class="dropdown-item">Services Style Two</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item ">Services Style Three</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item standart">Features</a>
                                                <ul class="dropdown-menu myStandart " aria-labelledby="navbarDropdownMenuLink" style="width: 250px; left: -250px; top:60px ">
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item ">Features Style One</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item">Features Style Two</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Team</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Log In</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Sign Up</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">FAQ</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">404 Error</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false ">Blog </a>
                                        <ul class="dropdown-menu " style="width: 230px !important ">
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Grid</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Right Sidebar</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="navbar navbar-light bg-light ">
                            <form class="container-fluid justify-content-start ">
                                <button class="btn btn-outline-success me-2 " type="button "><i class="fab fa-hotjar "></i> Get Started<span style="top: 43.2px; left: 4.3125px; "></span></button>
                                <button class="btn btn-sm btn-outline-secondary " type="button "><i class="fas fa-sign-in-alt "></i> Log-in<span style="top: 43.2px; left: 4.3125px; "></span></button>
                            </form>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="sectionFirst ">
            <div class="container firstbackground ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-12 ">
                            <div class="bannerText ">
                                <h1>Team</h1>
                                <p>Meet Our experts always ready to help you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionNine">
            <div class="container">
                <div class="forBackShadow">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leftSide">
                                <h1>Some other great reasons to choose us</h1>
                                <p>Take the first steps towards increased productivity and reduced stress with Strax.</p>
                                <p>We are a highly trained, dedicated team, helping entrepreneurs, professionals, and small teams streamline success - not just in work, but in life too. We help spare your time to focus on the bigger picture by taking care
                                    of the little details.</p>
                                <ul>
                                    <li><span class="iconify" data-icon="bx:bxs-badge-check"></span>Staff works from our offices in USA</li>
                                    <li><span class="iconify" data-icon="bx:bxs-badge-check"></span>Scale up/ down on demand</li>
                                    <li><span class="iconify" data-icon="bx:bxs-badge-check"></span>One time or on going projects</li>
                                    <li><span class="iconify" data-icon="bx:bxs-badge-check"></span>Hire based on skill set</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h1>Let's Start Your Free Trial</h1>
                            <form id="contactForm" novalidate="true">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group" style="margin-bottom: 25px;">
                                            <input type="text" name="name" id="name" class="form-control" style=" height:50px; font-size:16px;" required="" data-error="Please enter your name" placeholder="Your Name">
                                            <div class="help-block with-errors">
                                                <ul class="list-unstyled">
                                                    <li>Please enter your name</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group" style="margin-bottom: 25px;">
                                            <input type="email" name="email" id="email" class="form-control" style=" height:50px; font-size:16px;" required="" data-error="Please enter your email" placeholder="Your Email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group" style="margin-bottom: 25px;">
                                            <input type="text" name="phone_number" id="phone_number" required="" data-error="Please enter your number" class="form-control" style=" height:50px; font-size:16px;" placeholder="Your Phone">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group" style="margin-bottom: 25px;">
                                            <input type="text" name="msg_subject" id="msg_subject" class="form-control" style=" height:50px; font-size:16px;" required="" data-error="Please enter your subject" placeholder="Your Subject">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group" style="margin-bottom: 25px;">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="6" required="" data-error="Write your message" placeholder="Your Message"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn disabled" style="pointer-events: all; cursor: pointer; padding: 9px 20px; background: #fd7e14; color: #fff; font-weight: 600; font-size: 15px; border: none; border-radius: 5px;">
                                            <span class="iconify" data-icon="bx:bxs-paper-plane" style="color: #080a3c;"></span>
                                            <span style="top: 45px; left: 192.5px;">Send Message</span>
                                        </button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12">
                            <div class="contactInfo">
                                <h3>Contact us by Phone Number or Email Address</h3>
                                <h2>
                                    <a href="tel:+0881306298615">+088 130 629 8615</a>
                                    <br>
                                    <span>OR</span>
                                    <br>
                                    <a href="mailto:hello@strax.com">hello@strax.com</a>
                                </h2>
                                <ul class="social">
                                    <li><a href="#" target="_blank"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
                                    <li><a href="#" target="_blank"><span class="iconify" data-icon="ant-design:youtube-filled"></span></a></li>
                                    <li><a href="#" target="_blank"><span class="iconify" data-icon="ei:sc-facebook"></span></a></li>
                                    <li><a href="#" target="_blank"><span class="iconify" data-icon="ci:linkedin"></span></a></li>
                                    <li><a href="#" target="_blank"><span class="iconify" data-icon="ant-design:instagram-outlined"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionThirteen">
            <div class="backgroundThirteen">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2>Our Loving Clients</h2>
                            </div>
                            <ul class="clients-logo-list">
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/1 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/2 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/3 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/4 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/5 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo" style="margin-left: 97px;">
                                    <a href="#">
                                        <img src="img/6 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#" style="padding: 44px 4px 44px 4px !important;">
                                        <img src="img/7.png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/8.png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo" style="margin-right: 90px;">
                                    <a href="#">
                                        <img src="img/9 (1).png" alt="image">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div class="adressesBackgroung">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logFooter">
                            <a href=""><img src="img/white-logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="col-lg-2">
                        <h3>Company</h3>
                        <ul>
                            <li>About Us </li>
                            <li>Services </li>
                            <li>Features </li>
                            <li>Our Pricing </li>
                            <li>Latest News</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h3>Support</h3>
                        <ul>
                            <li>FAQ's </li>
                            <li>Privacy Policy </li>
                            <li>Terms & Conditions</li>
                            <li>Community</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 ">
                        <h3>Contact Info</h3>
                        <ul class="contacts ">
                            <li>Location: <a href="https://goo.gl/maps/MQ78iGP5g9VgZcJ38 " target="_blank ">6th Floor, Elegant Tower, York, USA</a></li>
                            <li>Email: <a href="mailto:hello@strax.com ">hello@strax.com</a></li>
                            <li>Phone: <a href="tel:+321754754 ">+0 (321) 984 754</a></li>
                        </ul>
                        <ul class="sosials ">
                            <li>
                                <a href=" ">
                                    <i class="fab fa-facebook-f " aria-hidden="true " style="padding: 8px 13px 2px 12px;"></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-twitter " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-instagram " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-linkedin-in " aria-hidden="true "></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright @ 2021 Strax. Designed by <span>EnvyTheme</span></p>
                    </div>
                </div>
            </div>

            <section>
                <div class="scroll ">
                    <div class="firstscroll "><a href="# "><i class="fas fa-chevron-up "></i></a></div>
                </div>
            </section>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script>
        AOS.init();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js " integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js "></script>
    <script src="js/Contact.js"></script>
</body>

</html>