<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scss/Services.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/plugins/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="assets/plugins/owl.carousel.min.js"></script>
    <title>Services</title>
</head>

<body>
    <header>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12 ">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light " id="navbar ">
                        <div class="container-fluid ">
                            <a class="navbar-brand " href="# "> <img src="img/logo.png " alt=" " class="navbar-brand " href="https://templates.envytheme.com/strax/default/index-it-2.html "></a>
                            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavDropdown " aria-controls="navbarNavDropdown " aria-expanded="false " aria-label="Toggle navigation "><span class="navbar-toggler-icon "></span></button>
                            <div class="collapse navbar-collapse " id="navbarNavDropdown ">
                                <ul class="navbar-nav ">
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false " style="color: #13c4a1 !important; ">
                                        Home </a>
                                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdownMenuLink ">
                                            <li class="nav-item-left-side ">
                                                <h3>With Animation</h3>
                                                <a class="dropdown-item " href="# ">Home One (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Two (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Three (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Four (SaaS Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Five (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Six (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Seven (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Eight (Digital Marketing Agency)</a>
                                            </li>
                                            <li class="nav-item-right-side ">
                                                <h3>Without Animation</h3>
                                                <a class="dropdown-item " href="# ">Home One (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Two (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Three (IT Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Four (SaaS Startup)</a>
                                                <a class="dropdown-item " href="# ">Home Five (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Six (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Seven (Chatbot)</a>
                                                <a class="dropdown-item " href="# ">Home Eight (Digital Marketing Agency)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">About</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Pricing</a>
                                    </li>
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false ">Pages </a>
                                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style=" width: 230px !important ">
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item standart">Services</a>
                                                <ul class="dropdown-menu myStandart " aria-labelledby="navbarDropdownMenuLink" style="width: 250px; left: -250px; top:0px ">
                                                    <li class="dropdown-item ">
                                                        <a href="# " class="dropdown-item ">Services Style One</a>
                                                    </li>
                                                    <li class="dropdown-item ">
                                                        <a href="# " class="dropdown-item">Services Style Two</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item ">Services Style Three</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item">Service Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item standart">Features</a>
                                                <ul class="dropdown-menu myStandart " aria-labelledby="navbarDropdownMenuLink" style="width: 250px; left: -250px; top:60px ">
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item ">Features Style One</a>
                                                    </li>
                                                    <li class="nav-item ">
                                                        <a href="# " class="dropdown-item">Features Style Two</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Team</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Log In</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Sign Up</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">FAQ</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">404 Error</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-bs-toggle="dropdown " aria-expanded="false ">Blog </a>
                                        <ul class="dropdown-menu " style="width: 230px !important ">
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Grid</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Right Sidebar</a>
                                            </li>
                                            <li class="nav-item ">
                                                <a href="# " class="dropdown-item">Blog Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="# ">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="navbar navbar-light bg-light ">
                            <form class="container-fluid justify-content-start ">
                                <button class="btn btn-outline-success me-2 " type="button "><i class="fab fa-hotjar "></i> Get Started<span style="top: 43.2px; left: 4.3125px; "></span></button>
                                <button class="btn btn-sm btn-outline-secondary " type="button "><i class="fas fa-sign-in-alt "></i> Log-in<span style="top: 43.2px; left: 4.3125px; "></span></button>
                            </form>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="sectionFirst">
            <div class="container firstbackground">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-12">
                            <div class="bannerText">
                                <h1>Services</h1>
                                <p>Our Services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionSecond">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="img/single-service.jpg" alt="">
                        <h3>We Provide Useful Services</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                        <h3>Core Development</h3>
                        <p>No fake products and services. The customer is king, their lives and needs are the inspiration. But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete
                            account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those
                            who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                        <h3>Define Your Choices</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                            placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                            Itaque earum rerum hic.</p>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are
                            bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In
                            a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the
                            claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionThird">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <h4>Client</h4>
                        <p>James Anderson</p>
                    </div>
                    <div class="col-lg-2">
                        <h4>Category</h4>
                        <p>Saas, Marketing</p>
                    </div>
                    <div class="col-lg-2">
                        <h4>Date</h4>
                        <p>February 28, 2021</p>
                    </div>
                    <div class="col-lg-4">
                        <h4>Share</h4>
                        </ul>
                        <ul class="sosials ">
                            <li>
                                <a href=" ">
                                    <i class="fab fa-facebook-f " aria-hidden="true " style="padding: 0px 12px"></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-twitter " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-instagram " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-linkedin-in " aria-hidden="true "></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <form class="container-fluid justify-content-start ">
                            <button class="btn btn-outline-success me-2 " type="button "><i class="fab fa-hotjar "></i> Get Started<span style="top: 43.2px; left: 4.3125px; "></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="sectionTwelve">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <div class="ClientBanner">
                            <h1>Whats Our Clients Said About <span>Strax</span></h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="formback">
                            <h1>We always try to be the best support to you as possible</h1>
                            <form class="row g-3">
                                <div class="col-auto">
                                    <label for="staticEmail2" class="visually-hidden">Email</label>
                                    <input type="email" class="input-newsletter" placeholder="hello@strax.com" style="color:white" name="EMAIL" required="" autocomplete="off">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Subscribe Now</button>
                                </div>
                            </form>
                            <div class="shares">
                                <div class="share19"><img src="img/19.png" alt="image"></div>
                                <div class="share20"><img src="img/20.png" alt="image"></div>
                                <div class="share13"><img src="img/13.png" alt="image"></div>
                                <div class="share17"><img src="img/17.png" alt="image"></div>
                                <div class="share14"><img src="img/14.png" alt="image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <section class="sectionThirteen">
            <div class="backgroundThirteen">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2>Our Loving Clients</h2>
                            </div>
                            <ul class="clients-logo-list">
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/1 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/2 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/3 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/4 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/5 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo" style="margin-left: 97px;">
                                    <a href="#">
                                        <img src="img/6 (1).png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#" style="padding: 44px 4px 44px 4px !important;">
                                        <img src="img/7.png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo">
                                    <a href="#">
                                        <img src="img/8.png" alt="image">
                                    </a>
                                </li>
                                <li class="single-clients-logo" style="margin-right: 90px;">
                                    <a href="#">
                                        <img src="img/9 (1).png" alt="image">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="adressesBackgroung">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logFooter">
                            <a href=""><img src="img/white-logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="col-lg-2">
                        <h3>Company</h3>
                        <ul>
                            <li>About Us </li>
                            <li>Services </li>
                            <li>Features </li>
                            <li>Our Pricing </li>
                            <li>Latest News</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h3>Support</h3>
                        <ul>
                            <li>FAQ's </li>
                            <li>Privacy Policy </li>
                            <li>Terms & Conditions</li>
                            <li>Community</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 ">
                        <h3>Contact Info</h3>
                        <ul class="contacts ">
                            <li>Location: <a href="https://goo.gl/maps/MQ78iGP5g9VgZcJ38 " target="_blank ">6th Floor, Elegant Tower, York, USA</a></li>
                            <li>Email: <a href="mailto:hello@strax.com ">hello@strax.com</a></li>
                            <li>Phone: <a href="tel:+321754754 ">+0 (321) 984 754</a></li>
                        </ul>
                        <ul class="sosials ">
                            <li>
                                <a href=" ">
                                    <i class="fab fa-facebook-f " aria-hidden="true " style="padding: 8px 13px 2px 12px;"></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-twitter " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-instagram " aria-hidden="true "></i>
                                </a>
                            </li>
                            <li>
                                <a href=" ">
                                    <i class="fab fa-linkedin-in " aria-hidden="true "></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright @ 2021 Strax. Designed by <span>EnvyTheme</span></p>
                    </div>
                </div>
            </div>

            <section>
                <div class="scroll ">
                    <div class="firstscroll "><a href="# "><i class="fas fa-chevron-up "></i></a></div>
                </div>
            </section>
        </div>
    </footer>


    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js " integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js "></script>
    <script src="js/Services.js"></script>
</body>

</html>